
.myp_side_page{
min-height:60vh;
}

.myReview_container{
display:flex;
justify-content:center;

}

.myReview_write{
display:flex;
justify-content:center;
border: 2px solid #0e1414;
    border-radius: 10px;
    width: 100%;
    min-width:600px;
    padding: 50px 20px;
}

.myReview_write form {
display:flex;
flex-direction:column;
color:#0e1414;
}

/*각 요소 제목과 입력창 배열*/
.myReview_write_grp,
myReview_orderInfo_grp{
  display:flex;
  margin-bottom:10px;

}

/*각 요소 제목*/
.myReview_write .myReview_write_label,
 myReview_orderInfo_label{
width: 100px;
}

/*각 요소 입력창*/
.myReview_write form input[type="text"],
.myReview_write form textarea{
height: 40px;
    border-radius: 6px;
    width: 365px;
    font-size: 16px;
    box-sizing: border-box;
    padding-left: 20px;
    border: 1px solid #0e1414;
}

.myReview_write_content_div,
.myReview_write form textarea{
height: 100px;

}



/*별점*/
.myReview_write label:hover {
cursor:pointer;
}

/*텍스트 입력 수를 위한 그룹*/
.myReview_write_content_textarea{
display:flex;
flex-direction:column;
}

.myReview_write_content_textarea i{
    text-align: right;
}

/*버튼그룹 가운데 정렬*/
.myReview_write_button_grp{
 display:flex;
 justify-content:center;
}
.myReview_write_button_grp button{
margin:0px 5px;
}
