<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<footer th:fragment="main-footer">
    <div class="footer_inner">
        <ul class="corp_area">
            <li class="footer_title">Creaters</li>
            <li><a href="#">크리에이터</a></li>
            <li class="corp_item">회사소개</li>
            <li class="corp_item">인재채용</li>
            <li class="corp_item">제휴제안</li>
            <li class="corp_item">이용약관</li>
            <li class="corp_item">개인정보처리방침</li>
            <li><a th:href=@{/customer/faq}>고객센터</a></li>
        </ul>
        <ul class="corp_area">
            <li class="corp_item">Copyrightⓒ2023 by Connect Gym. All Page content is property of Connect Gym</li>
        </ul>
    </div>

</footer>
</html>
