<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="main-head">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <link rel="icon" type="image/x-icon" th:href="@{images/head-icon.png}">

    <!-- 글꼴 -->
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-neo.css" rel="stylesheet">

    <!--  자바스크립트 파일 추가 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <!-- 커스터마이징 -->
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
    <link rel="stylesheet" th:href="@{/css/lesson.css}">
    <link rel="stylesheet" th:href="@{/css/createLesson.css}">
    <link rel="stylesheet" th:href="@{/css/mylessonlist.css}">

    <!--<link rel="stylesheet" th:href="@{/css/main.css}">-->



    <th:block layout:fragment="script"></th:block>
    <th:block layout:fragment="add-css"></th:block>
</head>
</html>
