<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{trainerOnly/mypages}"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<th:block layout:fragment="script">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/onlyTrainer/trainerDashboard.js}"></script>

</th:block>

<th:block layout:fragment="title">
    <title>마이페이지(트레이너) > 대시보드</title>
</th:block>

<!-- 해당 페이지를 호출하면 콘텐츠 영역에 해당 페이지가 출력 -->
<th:block layout:fragment="mypage">

    <div class="dsh-main-container">
        <div class="dsh-left-container">
            <div class="dsh-left-first-row">
                <div class="dsh-profile-box">
                    <button class="dsh-profile-update-btn"
                            onclick="location.href='/trainerOnly/mypage/updateProfile'">프로필 수정
                    </button>
                    <div class="dsh-profile-pic-wrapper">
                        <img th:src="${trainer.profileImg}" alt="profile">
                    </div>
                    <div class="dsh-profile-text">
                        <p class="dsh-profile-id" th:text="${trainer.trainerId}"></p>
                        <p class="dsh-profile-info" th:text="${trainer.infoTitle}"></p>
                    </div>
                </div>
            </div>

            <div class="dsh-left-second-row">
                <div class="dsh-second-row-card">
                    <span class="dsh-card-title">나를 찜한 사람 </span>
                    <span class="dsh-card-content" th:text="${likeCount}+명"></span>
                </div>
                <div class="dsh-second-row-card">
                    <span class="dsh-card-title">팔로워 </span>
                    <span class="dsh-card-content" th:text="${followCount} +명"></span>
                </div>
                <div class="dsh-second-row-card">
                    <span class="dsh-card-title">누적 수강생 수 </span>
                    <span class="dsh-card-content" th:text="${orderCount}+명"></span>
                </div>
            </div>


            <div class="dsh-left-third-row">
                <div class="dsh-lesson-info" th:if="${lessonInfo.no > 0}">
                    <div class="dsh-class-content">
                        <span class="dsh-lesson-title" th:text="${lessonInfo.title}"></span>
                        <span class="dsh-lesson-text" th:text="${lessonInfo.lesson_info}"></span>
                    </div>
                    <div class="dsh-lesson-pic-wrapper">
                        <img class="dsh-lesson-img" width="40" height="40" th:src="${lessonInfo.getLesson_img()}"
                             alt="lesson image">
                    </div>
                </div>

                <div class="dsh-lesson-info" th:if="${lessonInfo.no < 0}">
                    <div class="dsh-class-content">
                        <span class="dsh-lesson-title" th:text="${lessonInfo.errorMsg}"></span>
                    </div>
                    <div class="dsh-lesson-pic-wrapper">
                        <img class="dsh-lesson-img" th:src="@{/images/icons/lesson_basic_icon.png}" alt="lesson image">
                    </div>
                </div>

            </div>
            <!--    채팅룸리스트      -->
            <div class="dsh-left-fourth-row">
                <div class="dsh-message-box">
                    <div class="dsh-message-header">
                        <p class="dsh-message-header-title">MESSAGE</p>
                    </div>
                    <div class="dsh-message-wrapper">
                        <div class="dsh-message-content">
                            <th:block th:if="${chatroomList.size() > 0}">
                                <div class="mychatroom_list_trainer" th:each="chatroom:${chatroomList}">

                                    <div class="mychatroom_list_trainer_info">
                                        <div class="mmychatroom_list_trainer_name">[[${chatroom.member.userName}]]
                                        </div>
                                    </div>
                                    <div class="dsh-mychatroom_list_trainer_button">
                                        <img width="25" height="20"
                                             src="https://connectgym-bucket.s3.ap-northeast-2.amazonaws.com/commonData/message_icon.png"
                                             th:onclick="|window.open('/chatting/'+ ${chatroom.no}, 'chatting-window ${chatroom.no}',
                'width=430, height=500, location=no, status=no, scrollbars=yes');|"/>
                                    </div>
                                </div>
                            </th:block>
                        </div>
                    </div>
                </div>

                <div class="dsh-review-box">
                    <div class="dsh-review-header">
                        <p class="dsh-review-header-title">REVIEW</p>
                    </div>
                    <div class="dsh-review-wrapper">
                        <div class="dsh-review-null"
                             th:if="${#lists.isEmpty(trainerReview.trainerReviewResponseDtoList)}">
                            <p class="dsh-review-null-msg"> 등록된 리뷰가 없습니다. </p>
                        </div>
                        <div class="dsh-review-content"
                             th:unless="${#lists.isEmpty(trainerReview.trainerReviewResponseDtoList)}"
                             th:each="review:${trainerReview.trainerReviewResponseDtoList}">
                            <p class="dsh-review-title" th:text="${review.userId}"></p>
                            <p class="dsh-review-subtext" th:text="${review.reviewContent}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dsh-right-container">
            <div class="dsh-lessons-box">
                <div class="dsh-lessons-header">
                    <p class="dsh-lessons-title">내 강좌를 수강하는 회원 목록</p>
                </div>
                <th:block th:if="${trainerEnterRoom.errorMsg != 'NoMembers'}">
                    <th:block th:if="${trainerEnterRoom.errorMsg == 'NotFound'}">
                        <div class="noEnrollMem">현재 등록한 회원이 없습니다.</div>
                    </th:block>
                    <th:block th:if="${trainerEnterRoom.errorMsg != 'NotFound'}">
                        <div class="dsh-lessons-list">
                            <div class="dsh-lesson" th:each="member : ${trainerEnterRoom.memberMap}">
                                <span class="dsh-lessons-list-id" th:text="${member.value.userId}"> </span>
                                <span class="dsh-lessons-list-name" th:text="${member.value.userName}"></span>
                            </div>
                        </div>
                    </th:block>
                </th:block>
            </div>
        </div>
    </div>
</th:block>


</html>
