<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{trainerOnly/mypages}"
      xmlns:layout="http://www.w3.org/1999/xhtml">


<th:block layout:fragment="title">
    <title>마이페이지 > 내 정보|수정</title>
</th:block>

<th:block layout:fragment="add-css">
    <link rel="stylesheet" th:href="@{/css/update.css}">
</th:block>

<th:block layout:fragment="script">
    <!-- 기존 스크립트 -->
    <script th:inline="javascript">
        const loginMemberNo = [[${session.session_login_member_no}]];
        var trainerEmail = [[${trainerResponseDTO.trainerEmail}]];

        document.addEventListener("DOMContentLoaded", function () {
            function email_split(trainerEmail) {
                var email = trainerEmail.split("@");
                var email01 = email[0];
                var email02 = email[1];
                var em1 = document.getElementById('email001');
                em1.value = email01;
                document.getElementById('email002').value = email02;

                document.getElementById('email001').setAttribute('readonly', true);
                document.getElementById('email002').setAttribute('readonly', true);
            }

            email_split(trainerEmail);
        });

        function checkpwAndUpdate() {
            Swal.fire({
                title: '비밀번호를 입력하세요',
                input: 'password', // 입력 필드의 유형을 'password'로 지정
                inputAttributes: {
                    autocapitalize: 'off'
                },
                showLoaderOnConfirm: true,
                showCancelButton: true,
                confirmButtonText: '비밀번호 확인',
                cancelButtonText: '취소',
                preConfirm: (password) => {

                    console.log([[${trainerResponseDTO.trainerPw}]]);
                    if (password === [[${trainerResponseDTO.trainerPw}]]) {
                        return true;
                    } else {
                        Swal.showValidationMessage('비밀번호가 잘못되었습니다');
                        return false;
                    }
                },
                allowOutsideClick: () => !Swal.isLoading(),
            })
                .then((result) => {
                    if (result.isConfirmed) {

                        window.location.href = '/trainerOnly/mypage/updateInfo';
                    }
                });

        }
    </script>

</th:block>

<!-- 해당 페이지를 호출하면 콘텐츠 영역에 해당 페이지가 출력 -->
<th:block layout:fragment="mypage">
    <div class="join_container">
        <div class="trainerInfo_converTrainer_top">

        </div>

        <div class="trainerInfo_join_border">
            <form action="/mypage/updateProcess" method="post" class="form_wrap"
                  name="join_form">
                <!-- 아이디 -->
                <div class="input_wrap">
                    <span>아이디</span><br>
                    <div id="InputID" name="userId" th:text="${trainerResponseDTO.trainerId}"></div>
                    <br>
                    <span id="id_check_message"></span>
                </div>

                <!-- 비밀번호 -->
                <div class="input_wrap">
                    <span>비밀번호</span><br>
                    <button type="button">비밀번호 변경</button>
                </div>
                <!-- 이름 -->
                <!-- 전화번호 -->
                <div class="input_wrap">
                    <span>이름</span><br>
                    <div id="InputName" name="userName" th:text="${trainerResponseDTO.trainerName}"></div>
                </div>
                <!-- email -->
                <div class="input_wrap">
                    <span>전화번호</span><br>
                    <div id="InputTel"
                         name="userTel" th:text="${trainerResponseDTO.trainerTel}"></div>
                </div>
                <div class="input_email_wrap">
                    <span>이메일</span><br>
                    <input id="email001" type="text" name="email01">
                    <span id="email_middle">@</span>
                    <input id="email002" name="email02">
                    <input type="hidden" id="userEmail" name="userEmail">
                </div>
                <div class="join_btn_wrap">

                </div>
                <div class="input_wrap" style="width: 150px; height: 200px">
                    <span>강사 프로필 이미지</span><br>

                    <img
                        class="convertToTrainerAccount_photo"
                        th:src="${trainerResponseDTO.profileImg}"
                        width="150"
                        height="150"
                    /></div>
                <div class="input_wrap">
                    <span>title</span><br>
                    <div class="trainerinfoTitle"
                         name="trainerinfoTitle" th:text="${trainerResponseDTO.infoTitle}"></div>
                </div>
                <div class="input_wrap">
                    <span>강사 소개</span><br>
                    <div
                        name="trainerInfoContent" th:text="${trainerResponseDTO.infoContent}"></div>
                </div>

                <div class="join_btn_wrap">

                    <button type="button" class="join_btn2" onclick="checkpwAndUpdate()">정보 수정하기
                    </button>

                </div>

            </form>
        </div>
    </div>
</th:block>


</html>
