<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{trainerOnly/mypages}"
      xmlns:layout="http://www.w3.org/1999/xhtml">


<th:block layout:fragment="title">
    <title>마이페이지 > 내 정보|수정</title>
</th:block>

<th:block layout:fragment="add-css">
    <link rel="stylesheet" th:href="@{/css/update.css}">

</th:block>

<th:block layout:fragment="script">
    <!-- 기존 스크립트 -->
    <script type="text/javascript" rel="script"
            src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script th:inline="javascript">
        const loginMemberNo = [[${session.session_login_member_no}]];
        var trainerEmail = [[${trainerResponseDTO.trainerEmail}]];
    </script>
    <script type="text/javascript" rel="script" th:src="@{/js/trainerUpdateInfo.js}"></script>
</th:block>

<!-- 해당 페이지를 호출하면 콘텐츠 영역에 해당 페이지가 출력 -->
<th:block layout:fragment="mypage">
    <link rel="stylesheet" th:href="@{/css/convertToTrainerAccount.css}"/>
    <div class="join_container">
        <div class="myinfo_converTrainer_top">
            <div class="myinfo_converTrainer_button">
                <a href="/mypage/convertTrainer">
                    <span data-attr="트레이너">트레이너</span><span data-attr="전환">전환</span>
                </a>
            </div>
        </div>

        <div class="join_border">
            <form action="trainerOnly/mypage/updateProcess" method="post" class="form_wrap"
                  name="trainer_update_form">
                <!-- 아이디 -->
                <div class="input_wrap">
                    <span>아이디</span><br>
                    <input id="InputID" type="text" name="userId" th:value="${trainerDTO.trainerId}"><br>
                    <span id="id_check_message"></span>
                </div>


                <!-- 이름 -->
                <div class="input_wrap">
                    <span>이름</span><br>
                    <input id="InputName" type="text" name="userName" th:value="${trainerDTO.trainerName}"></input>
                </div>

                <!-- 전화번호 -->
                <div class="input_wrap">
                    <span>전화번호</span><br>
                    <input id="InputTel" type="text" placeholder="'-'를 제외하고 작성하여주세요."
                           name="userTel" th:value="${trainerDTO.trainerTel}">
                </div>


                <!-- email -->
                <div class="input_email_wrap">
                    <span>이메일</span><br>
                    <input id="email01" type="text" name="email01" required>
                    <span id="email_middle">@</span>
                    <input id="email02" name="email02">

                    <input type="hidden" id="userEmail" name="userEmail">
                </div>


                <label>
                    <input type="file"
                           id="update_trainer_profile_imgbox"
                           name="profileImgFile"
                           accept="image/*"/>
                    <img
                        class="convertToTrainerAccount_photo"
                        th:src="${trainerDTO.profileImg}"
                        width="150"
                        height="150"
                    />
                </label>

                <div class="input_address_wrap">
                    <span>강사 Title</span>
                    <input class="trainer_infoTitle_box"
                           name="infoTitle"
                           type="text" th:value="${trainerDTO.infoTitle}"/>
                </div>

                <div class="text_area_wrap">
                    <span>강사 소개</span>
                    <textarea
                        name="infoContent"
                        rows="5"
                        wrap="hard"

                        class="trainer_infoContent_box"
                        th:value="${trainerDTO.infoContent}"
                    ></textarea>
                </div>


                <div class="update_trainer_certificate_container">
                    <div class="update_trainer_certificate_top">
                        <span>자격증</span>
                        <div
                            class="update_trainer_certificate_add_button_box"
                        >
                            <button
                                type="button" id="update_trainer_add_license"
                                class="_js_button_reset update_trainer_certificate_add_button"
                            >
                                <label for="update_trainer_license_input"
                                       class="update_trainer_certificate_container_label">
                                    <input type="file" name="licenseImgFiles" id="update_trainer_license_input"
                                           multiple/>
                                    <img th:each="license : ${trainerDTO.licenses}"
                                         class="plus_box_img"
                                         th:src="${license.licenseImg}?:'/images/icons/mdi/plus-box.svg'"
                                         width="200"
                                         height="300"
                                    />
                                    <img class="plus_box_img" src="/images/icons/mdi/plus-box.svg" width="30"
                                         height="30">
                                </label>


                            </button>
                        </div>
                    </div>
                    <div class="convertToTrainerAccount_certificate_list" id="licensePhotoDiv">

                    </div>
                </div>

                <div class="join_btn_wrap">

                    <button type="button" class="join_btn2" onclick="trainer_updateform_check();">수정 완료하기
                    </button>

                </div>


            </form>
        </div>
    </div>
</th:block>


</html>
