<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{content/smallbanner}"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<th:block layout:fragment="title">
    <title>강좌 생성</title>
</th:block>


<th:block layout:fragment="detailOrCrud">

    <div class="createLesson_container">
        <form role="form" class="createLesson_form" action="/createLesson"
              th:object="${lessonForm}" method="POST"
              name="createLessonForm"
              enctype="multipart/form-data" >>
            <ul class="input_createLesson">
                <li class="profile_picture">
                    <div class="profile_info">
                        <img th:src="@{/images/김계란.png}" alt="Profile Picture">
                        <span th:if="${lesson != null and lesson.trainer != null}"
                              th:text="${lesson.trainer.trainer_name}"></span>
                        <div class="attachment">
                            <button type="button" class="add_attachment">+
                                <!--<input type="file" id="attachment" name="uploadedFile" class="attachment_input">-->
                            </button>
                        </div>
                    </div>
                </li>
                <li>
                    <label th:for="title">강좌명</label>
                    <input type="text" th:field="*{title}">
                </li>

                <li>
                    <label th:for="price">가격</label>
                    <input type="text" th:field="*{price}">
                </li>
                <li>
                    <label th:for="category">카테고리</label>
                    <select id="category" name="category">
                        <option value="1">헬스</option>
                        <option value="2">요가</option>
                        <option value="3">필라테스</option>
                    </select>


                </li>


                <li>
                    <label th:for="lesson_info">강좌 소개</label>
                    <textarea th:field="*{lesson_info}"></textarea>
                </li>
                <!--                <li>-->
                <!--                    <label th:for="trainer_info">강사 소개</label>-->
                <!--                    <textarea th:field="*{trainer_info}></textarea>-->
                <!--                </li>-->

                <li>
                    <label th:for="lesson_img">강좌 이미지</label>
                    <label for="createLessonImgInput"
                           class="createLessonImg_container">
                        <input type="file" name="lessonImgFile"
                               class="createLessonImgInput"
                               id="createLessonImgInput"
                               accept="image/*"/>
                        <img
                            class="createLessonPhoto"
                            th:src="@{/images/icons/img_upload.png}"
                            width="300"
                            height="300"
                        />
                    </label>
                    <label>[미리 보기]</label>
                </li>

                <li>
                    <label th:for="start_date">시작일</label>
                    <input type="date" th:field="*{start_date}">
                </li>
                <li>
                    <label th:for="end_date">종료일</label>
                    <input type="date" th:field="*{end_date}">
                </li>


                <input type="hidden" name="titleCode" th:value="${titleCode}">
                <li>
                    <button class="sign_up_btn" type="submit">Sign Up</button>
                </li>
            </ul>
        </form>

        <script th:src="@{/js/createLesson.js}"></script>
    </div>

</th:block>


</html>
