<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{content/smallbanner}"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<th:block layout:fragment="title">
    <title>강사 상세</title>
</th:block>


<th:block layout:fragment="detailOrCrud">

    <div class="trainerDetail_container">
        <div class="trainerDetail_content">
            <ul class="td_list">
                <li class="td_profile">
                    <div class="td_profile_info">
                        <img th:src="${trainer.profileImg}" alt="Profile Picture">
                        <span class="user_id" th:text="${trainer.trainerId}"></span>
                    </div>
                </li>

                <li>
                    <!-- trainer.no 가져가시면 됩니다.-->
                    <button class="trainer_follow trainer_button">

                        팔로우하기</button>
                    <button class="trainer_chatting trainer_button">채팅하기</button>
                </li>

                <p>트레이너 소개</p>

                <li>
                    <span id="lesson_info" th:text="${trainer.trainerInfo}"></span>
                </li>

            </ul>
        </div>
    </div>


</th:block>

</html>
