<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{content/mypages}"
    xmlns:layout="http://www.w3.org/1999/xhtml"
>
    <th:block layout:fragment="script"></th:block>

    <th:block layout:fragment="title">
        <title>마이페이지 > 트레이너 계정 전환</title>
    </th:block>

    <!-- 해당 페이지를 호출하면 콘텐츠 영역에 해당 페이지가 출력 -->
    <th:block layout:fragment="mypage">
        <link rel="stylesheet" th:href="@{/css/convertToTrainerAccount.css}" />
        <form id="convertToTrainerAccount_wrap" name="convertForm"
              action="/convertTrainer" method="post"
              enctype="multipart/form-data" >

            <label
                for="convertToTrainerAccount_photo_container_input"
                class="convertToTrainerAccount_photo_container"
            >
                <input type="file"
                   id="convertToTrainerAccount_photo_container_input"
                    name="profileImgFile"
                    accept="image/*" />
                <img
                    class="convertToTrainerAccount_photo"
                    th:src="@{/images/icons/mdi/account-outline.svg}"
                    width="150"
                    height="150"
                />
            </label>
            <div class="convertToTrainerAccount_description_container">
                <textarea
                    name="trainerInfo"
                    rows="5"
                    placeholder="자기소개 입력..."
                    class="_js_textarea_design_1 convertToTrainerAccount_description_textarea"
                ></textarea>
            </div>
            <div class="convertToTrainerAccount_certificate_container">
                <div class="convertToTrainerAccount_certificate_top">
                    <h2>자격증</h2>
                    <div
                        class="convertToTrainerAccount_certificate_add_button_box"
                    >
                        <button
                            type="button"
                            class="_js_button_reset convertToTrainerAccount_certificate_add_button"
                        >
                            <label
                                for="certificate_container_input"
                                class="certificate_container_label"
                            >
                            <input type="file" name="licenseImgFiles" id="certificate_container_input" multiple/>
                            <img
                                class="plus_box_img"
                                th:src="@{/images/icons/mdi/plus-box.svg}"
                                width="30"
                                height="30"
                            />
                            </label>
                        </button>
                    </div>
                </div>
                <div class="convertToTrainerAccount_certificate_list" id="licensePhotoDiv">

                </div>
            </div>
            <div class="convertToTrainerAccount_readme_container">
                <div class="convertToTrainerAccount_readme_title_box">
                    <img
                        th:src="@{/images/icons/mdi/alert-outline.svg}"
                        width="30"
                        height="30"
                    />
                    <div class="convertToTrainerAccount_readme_title">
                        주의!
                    </div>
                </div>
                <div class="convertToTrainerAccount_readme_content_box">
                    <div>
                        트레이너 회원으로 전환한 이후 일반 회원으로 재전환할 수
                        없습니다.
                    </div>
                </div>
            </div>
            <div class="convertToTrainerAccount_agreement_container">
                <div>
                    <label>
                        <input type="checkbox">
                        <span>위 안내 사항을 확인했으며 동의합니다.</span>
                    </label>
                </div>
            </div>
            <div class="convertToTrainerAccount_convert_button_container">
                <button type="submit" class="_js_button_reset _js_button_1 convertToTrainerAccount_convert_button">
                    회원 전환
                </button>
                <button type="button" class="_js_button_reset _js_button_1 convertToTrainerAccount_convert_button"
                onclick="history.back()">
                    뒤로 가기
                </button>
            </div>
        </form>
        <script>
    function isValid() {

  	const form = document.getElementById('convertToTrainerAccount_wrap');

	if (!form.title.value.trim()) {
		alert('제목을 입력해 주세요.');
		form.title.value = '';
		form.title.focus();
		return false;
	}

	if (!form.writer.value.trim()) {
		alert('작성자를 입력해 주세요.');
		form.writer.value = '';
		form.writer.focus();
		return false;
	}

	if (!form.content.value.trim()) {
		alert('내용을 입력해 주세요.');
		form.content.value = '';
		form.content.focus();
		return false;
	}

	return true;
}

        </script>
       <script th:src="@{/js/convertToTrainerAccount.js}"></script>
    </th:block>
</html>
