<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{content/mypages}"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<th:block layout:fragment="add-css">
    <link rel="stylesheet" th:href="@{/css/main.css}">
</th:block>
<th:block layout:fragment="title">
    <title>마이페이지 > 채팅방 목록</title>
</th:block>

<!-- 해당 페이지를 호출하면 콘텐츠 영역에 해당 페이지가 출력 -->
<th:block layout:fragment="mypage">

    <div class="myFollowing_container">
        <div class="myFollowing_border">
            <!--            <div class="myFollowing_search">-->
            <!--                <input type="text" class="myFollowing_search_input" name="myFollowing_search_byName"-->
            <!--                       placeholder="트레이너 이름으로 검색"-->
            <!--                       onkeyup="search();">-->
            <!--                <button class="myFollowing_search_icon" onclick="search();">-->
            <!--                    <img width="24px" height="24px"-->
            <!--                         src="https://connectgym-bucket.s3.ap-northeast-2.amazonaws.com/commonData/search_icon.png"/>-->
            <!--                </button>-->
            <!--            </div>-->
            <div class="myFollowing_list">
                <th:block th:if="${chatroomList.size() > 0}">
                    <div class="myFollowing_list_trainer" th:each="chatroom:${chatroomList}">
                        <div class="myFollowing_list_trainer_img">
                            <img th:src="${chatroom.trainer.profileImg}">
                        </div>
                        <div class="myFollowing_list_trainer_info">
                            <div class="myFollowing_list_trainer_name">[[${chatroom.trainer.trainerName}]]</div>
                            <div class="myFollowing_list_trainer_id">[[${chatroom.trainer.trainerId}]]</div>
                        </div>
                        <div class="myFollowing_list_trainer_button">
                            <img width="50" height="50"
                                 src="https://connectgym-bucket.s3.ap-northeast-2.amazonaws.com/commonData/message_icon.png"
                                 th:onclick="|window.open('/chatting'+ ${chatroom.no}, 'chatting-window',
                'width=430, height=500, location=no, status=no, scrollbars=yes');|"/>
                            <!--                            <button th:onclick="|location.href='/trainerDetail/${trainer.trainerNo}'|">프로필보기</button>-->
                        </div>
                    </div>
                </th:block>

            </div>
        </div>
    </div>


</th:block>


</html>
