<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{content/mypages}"
    xmlns:layout="http://www.w3.org/1999/xhtml"
>
    <th:block layout:fragment="script"></th:block>

    <th:block layout:fragment="title">
        <title>마이페이지 > 주문내역</title>
    </th:block>

    <th:block layout:fragment="mypage">
        <link rel="stylesheet" th:href="@{/css/orderList.css}" />
        <div id="orderList_wrap">
            <form name="orderFilterForm" class="orderList_top_bar">
                <!--/*
                <select name="status" style="display: none">
                    <option value="all">선택</option>
                    <option value="paymentFinish">결제완료</option>
                    <option value="inSuGang">수강 중</option>
                </select>
                */-->
                <label class="orderList_top_bar_item">
                    <span class="orderList_top_bar_label_text">시작 날짜</span>
                    <input
                        type="date"
                        name="startDate"
                        placeholder="시작 날짜"
                        th:max="${#temporals.format(#temporals.createNow(), 'YYYY-MM-dd')}"
                        th:value="${#temporals.format(responseDto.startDate, 'YYYY-MM-dd')}"
                    />
                </label>
                <label class="orderList_top_bar_item">
                    <span class="orderList_top_bar_label_text"
                        >마지막 날짜</span
                    >
                    <input
                        type="date"
                        name="endDate"
                        placeholder="마지막 날짜"
                        th:max="${#temporals.format(#temporals.createNow(), 'YYYY-MM-dd')}"
                        th:value="${#temporals.format(responseDto.endDate ?: #temporals.createNow(), 'YYYY-MM-dd')}"
                    />
                </label>
                <label class="orderList_top_bar_item">
                    <span class="orderList_top_bar_label_text">검색어</span>
                    <input
                        type="search"
                        name="q"
                        th:value="${responseDto.search}"
                    />
                </label>
                <button
                    class="js_button_reset orderList_top_bar_button"
                    title="검색"
                >
                    <img th:src="@{/images/icons/mdi/magnify.svg}" />
                </button>
                <button
                    type="button"
                    title="초기화"
                    class="js_button_reset orderList_top_bar_button"
                    onclick="location.href = location.pathname"
                >
                    <img th:src="@{/images/icons/mdi/autorenew.svg}" />
                </button>
            </form>
            <th:block th:if="${responseDto.success}">
                <div
                    class="orderList_empty_container"
                    th:if="${#lists.isEmpty(responseDto.orderListOrderDtoList)}"
                >
                    <div class="orderList_empty_icon_box">
                        <img
                            th:src="@{/images/icons/mdi/store-alert-outline.svg}"
                            width="150"
                            height="150"
                        />
                    </div>
                    <div class="orderList_empty_description">
                        주문하신 내역이 없습니다.
                    </div>
                </div>
                <div
                    class="orderList_list_container"
                    th:each="order : ${responseDto.orderListOrderDtoList}"
                >
                    <div class="orderList_list_item">
                        <div class="orderList_list_item_top_bar">
                            <div class="orderList_list_item_top_bar_left">
                                <span
                                    th:text="${#temporals.format(order.orderDate, 'YYYY-MM-dd')}"
                                    class="orderList_list_item_payment_date"
                                    >2023. 08. 28</span
                                >
                                <span
                                    th:text="|주문번호: ${order.orderNo}|"
                                    class="orderList_list_item_order_no"
                                >
                                    주문번호: 20230828123456
                                </span>
                            </div>
                            <div class="orderList_list_item_top_bar_right">
                                <span
                                    class="orderList_list_item_total_price_box"
                                >
                                    <span class="">총 금액: </span>
                                    <span
                                        th:text="${#numbers.formatInteger(order.totalPrice, 1, 'COMMA') + '원'}"
                                        class="orderList_list_item_total_price"
                                        >100,000원</span
                                    >
                                </span>
                            </div>
                        </div>
                        <div class="orderList_order_detail_items">
                            <div
                                th:each="detail : ${order.detailDtoList}"
                                class="orderList_order_detail_item"
                            >
                                <a
                                    th:href="@{'/lessonDetail/' + ${detail.lessonNo}}"
                                    class="orderList_order_detail_trainer_image_box"
                                >
                                    <img
                                        th:src="@{${detail.imageUrl}}"
                                        src="https://images.unsplash.com/photo-1552848031-326ec03fe2ec?auto=format&fit=crop&w=1470&q=80"
                                        class="orderList_order_detail_trainer_image"
                                        width="100"
                                        height="100"
                                    />
                                </a>
                                <div class="orderList_order_detail_center_box">
                                    <a
                                        th:href="@{'/lessonDetail/' + ${detail.lessonNo}}"
                                        th:text="${detail.title}"
                                        class="orderList_order_detail_title"
                                    >
                                        헬창클럽 트레이너의 특별 강의
                                    </a>
                                    <div
                                        class="orderList_order_detail_center_bottom"
                                    >
                                        <div
                                            th:text="|${detail.startDate} ~ ${detail.endDate}|"
                                            class="orderList_order_detail_date"
                                        >
                                            2023. 08. 29 ~ 2023. 09. 13 (매 주
                                            월요일, 수요일)
                                        </div>
                                        <div
                                            th:text="${#numbers.formatInteger(detail.price, 1, 'COMMA') + '원'}"
                                            class="orderList_order_detail_price"
                                        >
                                            100,000원
                                        </div>
                                    </div>
                                </div>
                                <div
                                    th:text="${detail.status}"
                                    class="orderList_order_detail_right"
                                >
                                    결제완료
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
            <th:block th:unless="${responseDto.success}">
                <div class="orderList_list_container">
                    <script th:inline="javascript">
                        alert([[${responseDto.message}]])
                    </script>
                </div>
            </th:block>
        </div>
        <script th:src="@{/js/orderList.js}"></script>
    </th:block>
</html>
