<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>1:1 Chat</title>
    <script src="/webjars/sockjs-client/1.5.1/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/2.3.3/stomp.min.js"></script>
</head>

<body>
<div id="chat">
    <form id="messageForm">

        <input type="text" id="message" placeholder="Type your message..."/>
        <button type="submit">Send</button>
    </form>
    <div id="messages"></div>
</div>

<script th:inline="javascript">
    var socket = new SockJS('/chat');
    var stompClient = Stomp.over(socket);

    stompClient.connect({}, function (frame) {
        console.log('Connected: ' + frame);
    });

    document.querySelector("#messageForm").addEventListener("submit", function (event) {
        event.preventDefault();
        var roomSelect = document.querySelector("#roomSelect");
        var roomId = roomSelect.value;
        var messageInput = document.querySelector("#message");
        var messageContent = messageInput.value;
        stompClient.send(`/app/chat/${roomId}`, {}, JSON.stringify({
            'content': messageContent,

        }));
        messageInput.value = '';
    });

    function showMessage(message) {
        var messageDiv = document.createElement("div");
        messageDiv.textContent = message.sender + ': ' + message.content; // 보낸 사람 정보 표시
        document.querySelector("#messages").appendChild(messageDiv);
    }

    stompClient.subscribe('/queue/qqq/{roomId}', function (message) {
        showMessage(JSON.parse(message.body));
    });
</script>
</body>
