<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{content/fooddiary}"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<th:block layout:fragment="title">
    <title>클래스리스트 > ${lessonCategory}</title>
</th:block>

<!-- 해당 페이지를 호출하면 콘텐츠 영역에 해당 페이지가 출력 -->
<th:block layout:fragment="foodD">
    <div class="foodD_calendar">
        <div class="calendar_header">
            <button class="foodD_calendar-button" onclick="goToPreviousMonth()"> << Prev</button>
            <h1 th:id="monthYear" th:text="|${yearMonth.getYear()} . ${yearMonth.getMonth().getValue()} |"></h1>
            <button class="foodD_calendar-button" onclick="goToNextMonth()"> Next >></button>
        </div>
        <table class="foodD_calendar_table">
            <thead>
            <tr>
                <th class="foodD_calendar_padding">Sun</th>
                <th class="foodD_calendar_padding">Mon</th>
                <th class="foodD_calendar_padding">Tue</th>
                <th class="foodD_calendar_padding">Wed</th>
                <th class="foodD_calendar_padding">Thu</th>
                <th class="foodD_calendar_padding">Fri</th>
                <th class="foodD_calendar_padding">Sat</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="week : ${weeks}">
                <!--날짜카드-->
                <td th:each="day : ${week}"
                    th:class="${day != null} ? 'calendar_active foodD_calendar_padding' : 'foodD_calendar_padding'">
                    <div class="foodD_clanedar_day_layout" onclick="goToDietList(this)">
                        <!--날짜출력-->
                        <div class="foodD_clanedar_datebox" th:if="${day != null}" th:text="${day}">Day</div>
                        <!-- 식단출력-->
                        <div class="foodD_clanedar_foodbox" th:if="${day != null}">
                            <div th:each="todo : ${todosMap[__${day}__]}"
                                 th:if="${todosMap[__${day}__]} != null">
                                <span th:text="${todo.task}"></span>
                            </div>
                            <div th:unless="${todosMap[__${day}__]} != null">
                                <!-- Handle case where todosMap[__${day}__] is null -->
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- 달력  이전달  다음달  버튼동작함수-->
    <script th:inline="javascript">

        /*<![CDATA[*/
        var prevYear = [[${yearMonth.minusMonths(1).getYear()}]];
        var prevMonth = [[${yearMonth.minusMonths(1).getMonthValue()}]];
        var nextYear = [[${yearMonth.plusMonths(1).getYear()}]];
        var nextMonth = [[${yearMonth.plusMonths(1).getMonthValue()}]];

        function goToPreviousMonth() {
            window.location.href = "/fooddiary/calendar/?year=" + prevYear + "&month=" + prevMonth;

        }

        function goToNextMonth() {
            window.location.href = "/fooddiary/calendar/?year=" + nextYear + "&month=" + nextMonth;
        }


        function goToDietList(thisday) {
            var date = thisday.querySelector('.foodD_clanedar_datebox').textContent;
            var year = [[${yearMonth.getYear()}]];
            var month = [[${yearMonth.getMonthValue()} -1]];

            var dateUrl = year + '-' + (month + '').padStart(2, '0') + '-' + (date + '').padStart(2, '0');
            window.location.href = '/fooddiary/dietlist?date=' + dateUrl;
        }

        /*]]>*/
    </script>

</th:block>
</html>
