<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{content/fooddiary}"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<th:block layout:fragment="title">
    <title>식단 등록, 기입 페이지</title>
</th:block>


<!-- 해당 페이지를 호출하면 콘텐츠 영역에 해당 페이지가 출력 -->
<th:block layout:fragment="foodD">
    <link rel="stylesheet" th:href="@{/css/foodInfo.css}">
    <div class="foodD_search">
        <!-- 헤더 -->
        <div class="search_header">
            <h1 id="food_search">FOOD INFO</h1>
        </div>
        <div class="info_btn">
            <input  class="searchInput" type="text" placeholder="식품명을 입력하시오" />
            <button class="search_btn">search</button>
            <button class="write_btn" onclick="openPop()">write</button>
        </div>
        <table class="FoodInfo_table">
            <thead>
            <tr>
                <th class="Info_name">식품명</th>
                <th class="Info_name">1회제공량</th>
                <th class="Info_name">탄수화물</th>
                <th class="Info_name">단백질</th>
                <th class="Info_name">지방</th>
                <th class="Info_name">나트륨</th>
                <th class="Info_name">당</th>
                <th class="Info_name">칼로리</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="food: ${foods}">
                <td th:text="${food.foodNm}">식품명</td>
                <td th:text="${food.foodSize}">1회 제공량</td>
                <td th:text="${food.choc}">탄수화물</td>
                <td th:text="${food.prot}">단백질</td>
                <td th:text="${food.fat}">지방</td>
                <td th:text="${food.nat"}>나트륨</td>
                <td th:text="${food.sugar}">당</td>
                <td th:text="${food.kcal}">칼로리</td>
            </tr>
            </tbody>
        </table>
    </div>








    <!-- 상품 등록 팝업 -->
    <div id="dietPopup" class="dietPop">
        <form class="pop-content" method="POST">
            <button id="closeBtn">X</button>
            <h2> 영양성분 기입 </h2>

            <div class="foodInput">
                <label class="nutriNm">식품명</label>
                <input class="nutriInput" type="text"/>
            </div>
            <div class="foodInput">
                <label class="nutriNm">1회 제공량</label>
                <input class="nutriInput" type="text"/>
            </div>
            <div class="foodInput">
                <label class="nutriNm">칼로리</label>
                <input class="nutriInput" type="text"/>
            </div>
            <div class="foodInput">
                <label class="nutriNm">탄수화물</label>
                <input class="nutriInput" type="text"/>
            </div>
            <div class="foodInput">
                <label class="nutriNm">단백질</label>
                <input class="nutriInput" type="text"/>
            </div>
            <div class="foodInput">
                <label class="nutriNm">지방</label>
                <input class="nutriInput" type="text"/>
            </div>
            <div class="foodInput">
                <label class="nutriNm">당류</label>
                <input class="nutriInput" type="text"/>
            </div>
            <div class="foodInput">
                <label class="nutriNm">나트륨</label>
                <input class="nutriInput" type="text"/>
            </div>
            <div class="foodInput">
                <label class="nutriNm">포화지방산</label>
                <input class="nutriInput" type="text"/>
            </div>
            <div class="foodInput">
                <label class="nutriNm">불포화지방산</label>
                <input class="nutriInput" type="text"/>
            </div>
            <div class="foodInput">
                <label class="nutriNm">가공업체</label>
                <input class="nutriInput" type="text"/>
            </div>

            <!-- 저장 버튼 -->
            <input id="submit" type="submit" value="저장" />

        </form>
    </div>
    <script th:src="@{/js/foodInfo.js}"></script>
</th:block>

</body>
</html>
