<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/body}"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<th:block layout:fragment="script">
    <script type="text/javascript" rel="script"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
</th:block>

<th:block layout:fragment="content">

    <div class="createLesson_banner">
        <div class="createLesson_banner_title"><p>Create Lesson</p></div>
    </div>
    <div class="createLesson_container">
        <form class="createLesson_form" action="/createLesson" method="post">
            <ul class="input_createLesson">
                <li class="profile_picture">
                    <div class="profile_info">
                        <img th:src="@{/images/김계란.png}" alt="Profile Picture">
                        <span class="user_id">사용자 아이디</span>
                        <div class="attachment">
                            <button type="button" class="add_attachment">+
                                <input type="file" id="attachment" name="attachment" class="attachment_input">
                            </button>
                        </div>
                    </div>
                </li>
                <li>
                    <label for="lesson_name">강좌명</label>
                    <input type="text" id="lesson_name" name="lesson_name">
                </li>
                <li>
                    <label for="lesson_info">강좌 소개</label>
                    <textarea id="lesson_info" name="lesson_info"></textarea>
                </li>
                <li>
                    <label for="trainer_info">강사 소개</label>
                    <textarea id="trainer_info" name="trainer_info"></textarea>
                </li>
                <li>
                    <button class="sign_up_btn" type="submit">Sign Up</button>
                </li>
            </ul>
        </form>

    </div>

</th:block>

</html>
