<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/body}"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<th:block layout:fragment="add-css">
    <link th:href="@{/css/cs.css}" rel="stylesheet">
</th:block>

<!-- 스크립트 부분 -->
<th:block layout:fragment="script">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
</th:block>

<th:block layout:fragment="content">

    <!-- 전체 div-wrap -->
    <div class="cs-wrap">
        <!-- faq section -->
        <div class="cs-layout">
            <!-- 검색창(시간되면 만들기) -->
            <!-- <div></div> -->

            <!-- 카테고리 버튼 -->
            <div class="ui-tab">
                <!-- 카테고리 종류
                  전체 가입/탈퇴 결제
                -->
                <div class="module">
                    <div class="ctgyAll ctgyitem" id="ctgyitem">
                        <button class="ctgy-btn active" type="button">전체</button>
<!--                        <button class="ctgy-btn" type="button">전체</button>-->
<!--                        <a th:href="@{'/customer_service?category=All&page=1'}">전체</a>-->
                    </div>

                    <div class="ctgyitem" th:each="ctgyList: ${ctgyList}">
                        <button class="ctgy-btn" type="button" th:text="${ctgyList.ctgy}"></button>
<!--                        <button class="ctgy-btn" type="button" th:text="${ctgyList.ctgy}"></button>-->
<!--                        <a th:href="@{'/customer_service?category=' + ${ctgyList.id} + '&page=1'}" th:text="${ctgyList.ctgy}"></a>-->
                    </div>

                </div>
            </div>

            <!-- ajax실행후 db호출부분 -->
            <div id="faq-accodion-wrap1" class="faq-accodion">
<!--                &lt;!&ndash; db에서 가져와 출력할 부분 / 전체 &ndash;&gt;-->
                <div class="faq-accodion-wrap">
                    <div class="ui-accodion">
                        <div class="accodion-item" th:each="csList : ${csList}">
                            <button type="button" class="accodion-btn">
                                <span class="mark">Q</span>
                                <span class="faq-title" th:text="${csList.title}">
                            </span>
                                <i class="ico arrow md"></i>
                            </button>
                            <div class="layer">
                                <div class="accodion-content">
                                    <p class="desc" th:text="${csList.content}">
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 페이지 넘기는 부분 -->
                <div class="pagination">
                    <ul>
                        <li th:if="${currentPage > 1}">
                            <a th:href="@{'/customer_service?category=' + ${category} + '&page=' + ${currentPage - 1}}">이전</a>
                        </li>
                        <li th:each="page : ${#numbers.sequence(1, totalPages)}"
                            th:classappend="${currentPage == page} ? 'active'">
                            <a th:href="@{'/customer_service?category=' + ${category} + '&page=' + ${page}}" th:text="${page}"></a>
                        </li>
                        <li th:if="${currentPage < totalPages}">
                            <a th:href="@{'/customer_service?category=' + ${category} + '&page=' + ${currentPage + 1}}">다음</a>
                        </li>
                    </ul>
                </div>
            </div>


<!--            <div id="faq-accodion-wrap2" class="faq-accodion none">-->
<!--                <div class="faq-accodion-wrap">-->
<!--                    <div class="ui-accodion">-->
<!--                        <div class="accodion-item" th:each="csList : ${csList}">-->
<!--                            <button type="button" class="accodion-btn">-->
<!--                                <span class="mark">Q</span>-->
<!--                                <span class="faq-title" th:text="${csList.title}">-->
<!--                                        </span>-->
<!--                                <i class="ico arrow md"></i>-->
<!--                            </button>-->
<!--                            <div class="layer">-->
<!--                                <div class="accodion-content">-->
<!--                                    <p class="desc" th:text="${csList.content}">-->
<!--                                    </p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; 페이지 넘기는 부분 &ndash;&gt;-->
<!--                <div class="pagination">-->
<!--                    <ul>-->
<!--                        <li th:if="${currentPage > 1}">-->
<!--                            <a th:href="@{'/customer_service?category=1&page=' + ${currentPage - 1}}">이전</a>-->
<!--                        </li>-->
<!--                        <li th:each="page : ${#numbers.sequence(1, totalPages)}"-->
<!--                            th:classappend="${currentPage == page} ? 'active'">-->
<!--                            <a th:href="@{'/customer_service?category=1&page=' + ${page}}" th:text="${page}"></a>-->
<!--                        </li>-->
<!--                        <li th:if="${currentPage < totalPages}">-->
<!--                            <a th:href="@{'/customer_service?category=1&page=' + ${currentPage + 1}}">다음</a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div id="faq-accodion-wrap3" class="faq-accodion none">-->
<!--                <div class="faq-accodion-wrap">-->
<!--                    <div class="ui-accodion">-->
<!--                        <div class="accodion-item" th:each="csList : ${csList}">-->
<!--                            <button type="button" class="accodion-btn">-->
<!--                                <span class="mark">Q</span>-->
<!--                                <span class="faq-title" th:text="${csList.title}">-->
<!--                                        </span>-->
<!--                                <i class="ico arrow md"></i>-->
<!--                            </button>-->
<!--                            <div class="layer">-->
<!--                                <div class="accodion-content">-->
<!--                                    <p class="desc" th:text="${csList.content}">-->
<!--                                    </p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; 페이지 넘기는 부분 &ndash;&gt;-->
<!--                <div class="pagination">-->
<!--                    <ul>-->
<!--                        <li th:if="${currentPage > 1}">-->
<!--                            <a th:href="@{'/customer_service?category=2page=' + ${currentPage - 1}}">이전</a>-->
<!--                        </li>-->
<!--                        <li th:each="page : ${#numbers.sequence(1, totalPages)}"-->
<!--                            th:classappend="${currentPage == page} ? 'active'">-->
<!--                            <a th:href="@{'/customer_service?category=2&page=' + ${page}}" th:text="${page}"></a>-->
<!--                        </li>-->
<!--                        <li th:if="${currentPage < totalPages}">-->
<!--                            <a th:href="@{'/customer_service?category=2&page=' + ${currentPage + 1}}">다음</a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->

        </div>
<input type="hidden" th:value="${category}" class="hidden-category">
    </div>
    <script type="text/javascript" rel="script" th:src="@{/js/cs.js}"></script>
</th:block>

</html>
