<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/body}"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<th:block layout:fragment="title">
    <title>메인</title>
</th:block>

<th:block layout:fragment="add-css">

</th:block>

<!-- 스크립트 부분 -->
<th:block layout:fragment="script">
    <script type="text/javascript" rel="script"
            src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

</th:block>

<th:block layout:fragment="content">






























</th:block>
</html>
