<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/body}"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<th:block layout:fragment="add-css">
    <link th:href="@{/css/customer.css}" rel="stylesheet">
</th:block>

<!-- 스크립트 부분 -->
<th:block layout:fragment="script">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
</th:block>

<th:block layout:fragment="content">

    <!-- 전체 div-wrap -->
    <div class="cs-wrap">

        <div class="ui-tab scroll">
            <div class="module">
                <div class="menu-item active">
                    <a class="menu-btn" th:href=@{"/customer/faq"}>자주 묻는 질문</a>
                </div>
                <div class="menu-item">
                    <a class="menu-btn" th:href=@{"/customer/notice"}>공지사항</a>
                </div>
            </div>
        </div>

        <!-- faq section -->
        <section class="cs-layout">
            <!-- 카테고리 버튼 -->
            <div class="ui-tab">
                <!-- 카테고리 종류
                  전체 가입/탈퇴 결제
                -->
                <div class="module">
                    <div class="ctgyAll ctgyitem" id="ctgyitem">
                        <button class="ctgy-btn" th:classappend="${category} == 'All' ? 'active'" type="button">전체</button>
                    </div>

                    <div class="ctgyitem" th:each="ctgyList: ${ctgyList}">
                        <button class="ctgy-btn" type="button" th:classappend="${category} == ${ctgyList.id} + '' ? 'active'" th:text="${ctgyList.ctgy}"></button>
                    </div>
                </div>
            </div>

            <!-- ajax실행후 db호출부분 -->
            <div id="faq-accodion-wrap1" class="faq-accodion">
<!--                &lt;!&ndash; db에서 가져와 출력할 부분 / 전체 &ndash;&gt;-->
                <div class="faq-accodion-wrap">
                    <div class="ui-accodion">
                        <div class="accodion-item" th:each="csList : ${csList}">
                            <button type="button" class="accodion-btn">
                                <span class="mark">Q</span>
                                <span class="faq-title" th:text="${csList.title}">
                            </span>
                                <i class="ico arrow md"></i>
                            </button>
                            <div class="layer">
                                <div class="accodion-content">
                                    <p class="desc" th:text="${csList.content}">
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 페이지 넘기는 부분 -->
                <div class="pagination">
                    <ul>
                        <li th:if="${currentPage > 1}">
<!--                            <button th:href="@{'/customer/faq?category=' + ${category} + '&page=' + ${currentPage - 1}}">이전</button>-->
                            <button type="button" th:data-category="${category}" th:data-page="${page}-1" onclick="changePage(this);">이전</button>
                        </li>
                        <li th:each="page : ${#numbers.sequence(1, totalPages)}"
                            th:classappend="${currentPage == page} ? 'active'">
<!--                            <a th:href="@{'/customer/faq?category=' + ${category} + '&page=' + ${page}}" th:text="${page}"></a>-->
                            <button type="button" th:data-category="${category}" th:data-page="${page}" onclick="changePage(this);" th:text="${page}"></button>
<!--                            <button type="button" data-category="${category}" data-page="${page}" th:onclick="|loadCategory(${category}, ${page})|" th:text="${page}"></button>-->
                        </li>
                        <li th:if="${currentPage < totalPages}">
<!--                            <a th:href="@{'/customer/faq?category=' + ${category} + '&page=' + ${currentPage + 1}}">다음</a>-->
                            <button type="button" th:data-category="${category}" th:data-page="${page}+1" onclick="changePage(this);">다음</button>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
<input type="hidden" th:value="${category}" class="hidden-category">
    </div>
    <script type="text/javascript" rel="script" th:src="@{/js/faq.js}"></script>
</th:block>

</html>
