<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/body}"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<th:block layout:fragment="script">
    <script type="text/javascript" rel="script"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
</th:block>

<th:block layout:fragment="content">

    <div class="lessonDetail_banner">
        <div class="lessonDetail_banner_title"><p>Lesson Detail</p></div>
    </div>
    <div class="lessonDetail_container">
        <div class="lessonDetail_leftContainer">
            <div class="lessonDetail_content">
                <ul class="lessonDetailList">
                    <li class="lessonDetail_profile">
                        <div class="lessonDetail_profile_info">
                            <img th:src="@{/images/김계란.png}" alt="Profile Picture">
                            <span class="user_id">트레이너 아이디</span>
                        </div>
                    </li>

                    <p>강좌명</p>

                    <li>
                        <span id="lesson_name">강좌명 강좌명 강좌명 강좌명 강좌명 강좌명</span>
                    </li>

                    <p>강좌 소개</p>
                    <li>
                        <span id="lesson_info">강좌 소개 강좌 소개 강좌 소개 강좌 소개 강좌 소개 강좌 소개</span>
                    </li>
                    <p>강사 소개</p>
                    <li>
                        <span id="trainer_info">강사 소개 강사 소개 강사 소개 강사 소개 강사 소개 </span>
                    </li>

                </ul>
            </div>
        </div>

        <div class="lessonDetail_rightContainer">

            <div class="lessonDetail_trainerBox">
                <table class="ld_trainerBox_table">
                    <tr>
                        <td><img th:src="@{/images/김계란.png}" alt="Profile Picture"></td>
                        <td>트레이너 아이디</td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <button class="ld_trainer_like_btn">like</button>
                        </td>

                    </tr>
                </table>
            </div>
            <div class="lessonDetail_orderBox">
                <table class="ld_orderBox_table">
                    <thead>
                    <tr>
                        <th colspan="2">order<br></th>
                    </tr>

                    </thead>
                    <tr>
                        <td><br>결제금액</td>
                        <td><br>100000원</td>
                    </tr>
                    <tr>
                        <td>할인금액</td>
                        <td>0원</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td>총금액</td>
                        <td>100000원</td>
                    </tr>

                    <tr class="ld_btn_tr">
                        <td colspan="2">
                            <br>
                            <button class="lessonDetail_btn" th:href="@{/order}">CONNECT</button>
                            <br>
                            <br>
                        </td>

                    </tr>
                </table>
            </div>
        </div>
    </div>

</th:block>

</html>
