<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/body}"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<th:block layout:fragment="title">
    <title>Lesson > health</title>
</th:block>

<!-- 해당 페이지를 호출하면 콘텐츠 영역에 해당 페이지가 출력 -->
<th:block layout:fragment="content">
    <div class="main_page">
        <!-- 사이드바 -->
        <nav class="sidebar">
            <div class="side_logo" align="center"><img th:src="@{/images/logo-white.png}" width="200"></div>
            <div class="side_menu">
                <ul class="side_items">
                    <li class="side_title">LESSON</li>
                    <li class="side-content"><a href="/lesson/health" class="on">헬스</a></li>
                    <li class="side-content"><a href="/lesson/yoga">요가</a></li>
                    <li class="side-content"><a href="/lesson/pilates">필라테스</a></li>
                </ul>
            </div>
        </nav>
        <!-- 사이드바 -->
        <div class="page">
            <th:block layout:fragment="lesson">
                <div id="wrap">
                    <div class="card">
                        <div class="card-front">
                            <img class="lesson_img" th:src="@{/images/logo.png}" alt="이미지가 지원되지 않습니다.">
                        </div>
                        <div class="card-back">
                            <ul>
                                <li class="card_title" th:text="'레슨타이틀'"></li>
                                <li class="card_content" th:text="'트레이너 이름'"></li>
                                <li class="card_content" th:text="'레슨정보'"></li>
                                <li class="card_content" th:text="'시작일'"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-front">
                            <img class="lesson_img" th:src="@{/images/logo.png}" alt="이미지가 지원되지 않습니다.">
                        </div>
                        <div class="card-back">
                            <ul>
                                <li class="card_title" th:text="'레슨타이틀'"></li>
                                <li class="card_content" th:text="'트레이너 이름'"></li>
                                <li class="card_content" th:text="'레슨정보'"></li>
                                <li class="card_content" th:text="'시작일'"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-front">
                            <img class="lesson_img" th:src="@{/images/logo.png}" alt="이미지가 지원되지 않습니다.">
                        </div>
                        <div class="card-back">
                            <ul>
                                <li class="card_title" th:text="'레슨타이틀'"></li>
                                <li class="card_content" th:text="'트레이너 이름'"></li>
                                <li class="card_content" th:text="'레슨정보'"></li>
                                <li class="card_content" th:text="'시작일'"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</th:block>

<!-- 스크립트 부분 -->
<script th:inline="javascript">

</script>
<th:block layout:fragment="script">

</th:block>


</html>
