<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/body}"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<th:block layout:fragment="script">
    <script type="text/javascript" rel="script"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
</th:block>

<th:block layout:fragment="content">


    <div class="lessonDetail_container">
        <div class="lessonDetail_content">
            <h1 class="lessonDetail_title">LESSON DETAIL</h1>
            <ul class="lessonDetailList">
                <li class="lessonDetail_profile">
                    <div class="lessonDetail_profile_info">
                        <img th:src="@{/images/김계란.png}" alt="Profile Picture">
                        <span class="user_id">사용자 아이디</span>
                    </div>
                </li>

                <p>강좌명</p>

                <li>
                   <span id="lesson_name">강좌명 강좌명 강좌명 강좌명 강좌명 강좌명</span>
                </li>

                <p>강좌 소개</p>
                <li>
                    <span id="lesson_info">강좌 소개 강좌 소개 강좌 소개 강좌 소개 강좌 소개 강좌 소개</span>
                </li>
                <p>강사 소개</p>
                <li>
                    <span id="trainer_info">강사 소개 강사 소개 강사 소개 강사 소개 강사 소개 </span>
                </li>

            </ul>
    </div>

</th:block>

</html>
