<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/body}"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<th:block layout:fragment="title">
    <title>메인</title>
</th:block>

<th:block layout:fragment="add-css">
    <link rel="stylesheet" th:href="@{/css/main.css}">
</th:block>

<!-- 스크립트 부분 -->
<th:block layout:fragment="script">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gsap/1.19.1/TweenMax.min.js"></script>
    <script src="js/design/main_section3.js"></script>
    <script src="js/review/rating.js"></script>

</th:block>

<!-- 해당 페이지를 호출하면 콘텐츠 영역에 해당 페이지가 출력 -->
<th:block layout:fragment="content">
    <div>
        <!-- 메인 영상 -->
        <div class="video-container">
            <video src="video/main-video.mp4" style="width:100%;" autoplay loop muted playsinline></video>
            <div class="typing-content">
                Your Gym, Any Space.
            </div>
        </div>
        <!-- 메인 영상 끝 -->

        <!-- 카테고리 메뉴 바로가기 -->
        <div class="section-1">
            <!--      <div class="sc-title-top">
                      <p>세 가지 운동을 커넥트짐 한 곳에서</p>
                  </div>-->
            <div class="sc-container">
                <div class="sc-card">
                    <a th:href="@{/lesson/health}">
                        <img th:src="@{/images/main-health.png}">
                        <div class="sc-card__head">Health</div>
                    </a>
                </div>
                <div class="sc-card">
                    <a th:href="@{/lesson/yoga}">
                        <img th:src="@{/images/main-yoga.jpg}">
                        <div class="sc-card__head">Yoga</div>
                    </a>
                </div>
                <div class="sc-card">
                    <a th:href="@{/lesson/pilates}">
                        <img th:src="@{/images/main-pilates.jpg}">
                        <div class="sc-card__head">Pilates</div>
                    </a>
                </div>
            </div>
        </div>

        <!-- 카테고리 메뉴 바로가기 끝 -->

        <!-- 모집 중인 강좌 -->


        <!-- 모집 중인 강좌 끝-->

        <!-- 인기 트레이너 -->
        <div class="section-2">
            <div class="person-title">
                Popular Trainer
            </div>
            <div class="person-content">
                <!--요가-->
                <div class="person">
                    <div class="p-container">
                        <div class="p-container-inner">
                            <img class="p-circle" th:src="@{/images/background.png}"/>
                            <img class="p-img p-img1" th:src="@{/images/주양.png}"/> <!--트레이너 프로필 변수-->
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="p-name">주양</div> <!--트레이너 이름 변수-->
                    <div class="p-cat">yoga</div> <!--레슨 카테고리 변수-->
                </div>
                <!--헬스-->
                <div class="person">
                    <div class="p-container">
                        <div class="p-container-inner">
                            <img class="p-circle" th:src="@{/images/background.png}"/>
                            <img class="p-img p-img2" th:src="@{/images/심으뜸.png}"/> <!--트레이너 프로필 변수-->
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="p-name">심으뜸</div> <!--트레이너 이름 변수-->
                    <div class="p-cat">health</div> <!--레슨 카테고리 변수-->
                </div>
                <!--필라테스-->
                <div class="person">
                    <div class="p-container">
                        <div class="p-container-inner">
                            <img class="p-circle" th:src="@{/images/background.png}"/>
                            <img class="p-img p-img3" th:src="@{/images/김계란.png}"/>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="p-name">김계란</div>
                    <div class="p-cat">pilates</div>
                </div>
            </div>
        </div>
        <!-- 인기 트레이너 끝 -->

        <!-- 운동리뷰 또는 식단리뷰 -->
        <div class="section-3">
            <div class="review-left-content">
                <div class="review-slider-wrap">
                    <div id="r-card-slider" class="r-slider">

                        <div class="r-slider-item" th:each="review : ${reviews}" th:limit="4">
                            <div class="r-animation-card_image">
                                <img th:src="@{/images/basic_profile.jpeg}" alt="">
                            </div>
                            <div class="r-animation-card_content">
                                <div class="r-animation-card_content_title r-title-2">
                                    <div class="r-animation-card_content_title_line1">
                                        <div> [[${review.userId}]]</div>
                                        <div class="review_item_rating" th:data-rating="${review.rating}"></div>
                                    </div>
                                    <div class="r-animation-card_content_title_line2"> [[${review.reviewTitle}]]</div>
                                </div>
                                <p class="r-animation-card_content_description r-p-2">[[${review.reviewContent}]]</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="review-right-content">
                <div class="review-right-content_line1">
                    <p>🎉오픈 1주년 이용자 3000명 돌파!🎉</p>
                </div>
                <div class="review-right-content_line2">
                    <p>커넥트짐을 이용한 고객님들의 생생한 후기를</p>
                    <p>들려 드립니다</p>
                </div>
                <div class="review-right-content_line3">
                    <p>만족도 97%. 최고의 성취감을 얻어보세요🤭</p>
                </div>


            </div>
        </div>
        <!-- 운동리뷰 또는 식단리뷰 끝 -->

    </div>
</th:block>


</html>
