<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/body}"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<th:block layout:fragment="title">
    <title>메인</title>
</th:block>

<!-- 해당 페이지를 호출하면 콘텐츠 영역에 해당 페이지가 출력 -->
<th:block layout:fragment="content">
    <div>
        <video src="video/main-video.mp4" style="width:100%;" autoplay loop muted playsinline></video>
        여기는 메인이다.
    </div>
</th:block>

<!-- 스크립트 부분 -->
<th:block layout:fragment="script">

    <script th:inline="javascript">
    </script>

</th:block>

</html>
