<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/body}"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<th:block layout:fragment="title">
    <title>MY PAGE</title>
</th:block>

<!-- 해당 페이지를 호출하면 콘텐츠 영역에 해당 페이지가 출력 -->
<th:block layout:fragment="content">
    <div class="site_banner">
        <div class="site_banner_title">
            <p>MY PAGE</p>
        </div>
    </div>

    <div class="side_main_page">
        <!-- 사이드바 -->
        <nav class="sidebar">
            <div class="side_menu">
                <ul class="side_items">
                    <li class="side_title">MY PAGE</li>
                    <li class="side-content"><a href="#" class="on">My Info</a></li>
                    <li class="side-content"><a href="/mypage/mylessonlist">My Lesson</a></li>
                    <li class="side-content"><a href="#">etc</a></li>
                </ul>
            </div>
        </nav>
        <!-- 사이드바 -->

        <div class="side_page">
            <th:block layout:fragment="mypage">
            </th:block>
        </div>

    </div>

</th:block>

<!-- 스크립트 부분 -->
<th:block layout:fragment="script">

    <script th:inline="javascript">
    </script>

</th:block>

</html>
