<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/body}"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<th:block layout:fragment="title">
    <title>공지사항</title>
</th:block>

<th:block layout:fragment="add-css">
    <link th:href="@{/css/customer.css}" rel="stylesheet">
</th:block>

<!-- 스크립트 부분 -->
<th:block layout:fragment="script">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
</th:block>

<th:block layout:fragment="content">

    <div class="cs-wrap">

        <section class="cs-layout">
            <!-- 메뉴 선택 a태그 -->
            <div class="ui-tab scroll">
                <div class="module">
                    <div class="menu-item">
                        <a class="menu-btn" href="/customer/faq">자주 묻는 질문</a>
                    </div>
                    <div class="menu-item active">
                        <a class="menu-btn" href="/customer/notice">공지사항</a>
                    </div>
                </div>
            </div>

            <!-- accodion -->
            <div class="faq-accodion">
                <div class="faq-accodion-wrap">
                    <div class="ui-accodion">
                        <div class="accodion-item"
                             th:each="noticeTopList : ${noticeTopList}">
                            <button type="button" class="accodion-btn notice-top-item">
                                <span class="mark" style="font-size: 16px;">Notice</span>
                                <span class="faq-title" th:text="${noticeTopList.title}"></span>
                                <span class="notice-date" style="float: right;"
                                      th:text="${#temporals.format(noticeTopList.noticeDatetime, 'YYYY-MM-dd')}"></span>
                            </button>
                        </div>
                        <div class="accodion-item"
                             th:each="noticeOtherList : ${noticeOtherList}">
                            <button type="button" class="accodion-btn notice-other-item">
                                <span class="mark" style="font-size: 16px;"
                                      th:text="${noticeOtherList.no}"></span>
                                <span class="faq-title" th:text="${noticeOtherList.title}"></span>
                                <span class="notice-date"
                                      th:text="${#temporals.format(noticeOtherList.noticeDatetime, 'YYYY-MM-dd')}"></span>
                            </button>

                        </div>
                    </div>
                </div>
            </div>
            <!-- pagination -->
            <div class="pagination">
                <ul>
                    <li class="prev" th:if="${currentPage > 1}">
                        <button type="button" th:onclick="'location.href=&quot;/customer/notice?page=' + (${currentPage - 1}) + '&quot;'">이전
                        </button>
                    </li>
                    <li class="pageNumber" th:each="page : ${#numbers.sequence(1, totalPages)}"
                        th:classappend="${currentPage == page} ? 'active'">
                        <button type="button" th:onclick="'location.href = &quot;/customer/notice?page=' + ${page} + '&quot;'" th:text="${page}">
                        </button>
                    </li>
                    <li class="next" th:if="${currentPage < totalPages}">
                        <button type="button" th:onclick="'location.href=&quot;/customer/notice?page=' + (${currentPage + 1}) + '&quot;'">다음
                        </button>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</th:block>

</html>
