<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{layouts/body}"
    xmlns:layout="http://www.w3.org/1999/xhtml"
>
    <th:block layout:fragment="title">
        <title>CONNECT GYM</title>
    </th:block>

    <th:block layout:fragment="content">
        <link rel="stylesheet" th:href="@{/css/order.css}" />
        <div id="order">
            <div class="order_inner">
                <div class="order_inner2">
                    <h2 class="order_title">주문</h2>
                    <div class="order_inner3">
                        <div class="order_left">
                            <div class="order_want_lesson">
                                <h3 class="order_want_lesson_title">
                                    신청하려는 강의
                                </h3>
                                <div class="order_lessons">
                                    <div
                                        class="order_lesson"
                                        th:each="lesson : ${orderResponse.lessonList}"
                                    >
                                        <div class="order_lesson_photo">
                                            <th:block th:if="${false}">
                                                <img
                                                    th:src="@{${lesson.trainer.profileImg}}"
                                                    alt="강사 프로필 사진"
                                                />
                                            </th:block>
                                            <img
                                                src="https://images.unsplash.com/photo-1517841905240-472988babdf9?auto=format&fit=crop&w=200&q=80"
                                                alt="강사 프로필 사진"
                                                class="order-trainer-profile-photo"
                                                width="100"
                                                height="100"
                                            />
                                        </div>
                                        <div class="order_lesson_description">
                                            <div
                                                th:text="${lesson.title}"
                                            ></div>
                                            <div
                                                th:text="${lesson.price}"
                                            ></div>
                                            <div
                                                th:text="${lesson.trainer.trainerName}"
                                            ></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="order_order_info"></div>
                            <div
                                class="order_name"
                                th:text="|주문자명: ${orderResponse.name}|"
                            ></div>
                            <div
                                class="order_telNo"
                                th:text="|주문자 전화번호: ${orderResponse.telNo}|"
                            ></div>
                            <div
                                class="order_orderNo"
                                th:text="|주문 번호: ${orderResponse.orderNo}|"
                            ></div>
                            <div>
                                <button
                                    type="button"
                                    class="btn btn-success"
                                    onclick="pay()"
                                >
                                    결제
                                </button>
                            </div>
                        </div>

                        <div class="order_right">
                            <div class="order_payment_price_box">
                                <h4>결제 예정 금액</h4>
                                <div>
                                    <span>합계:</span>
                                    <span
                                        class="order_payment_price"
                                        th:text="${#numbers.formatInteger(orderResponse.price, 1, 'COMMA') + '원'}"
                                    ></span>
                                </div>
                            </div>
                            <div class="order_payment_method_container">
                                <h4>결제 수단</h4>
                                <div class="order_payment_method_select">
                                    <label>
                                        <input
                                            type="radio"
                                            name="orderMethod"
                                            value="card"
                                            checked
                                        />
                                        신용카드
                                    </label>
                                    <label>
                                        <input
                                            type="radio"
                                            name="orderMethod"
                                            value="bank"
                                        />
                                        계좌이체
                                    </label>
                                </div>
                            </div>
                            <div class="order_payment_agreement_container">
                                <label>
                                    <input type="checkbox" name="agreeAll" />
                                    모두 동의
                                </label>
                                <label>
                                    <input type="checkbox" name="agreeBuy" />
                                    구매 조건을 확인했습니다.
                                </label>
                                <label>
                                    <input type="checkbox" name="agree3" />
                                    정보 수집 및 이용 동의
                                </label>
                            </div>
                            <div class="order_payment_button_container">
                                <button type="button">결제하기</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>

    <th:block layout:fragment="script"></th:block>

    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
    <script th:inline="javascript">
        function pay() {
            'use strict';

            var pgShopId = [[${pgShopId}]]
            var franchiseId = [[${franchiseId}]];
            var orderId = [[${orderResponse.orderNo}]];
            var name = [[${orderResponse.name}]];
            var telNo = [[${orderResponse.telNo}]];
            var price = [[${orderResponse.price}]];

            console.log(name);

            IMP.init(franchiseId);

            IMP.request_pay({
                pg: pgShopId,
                pay_method: 'card',
                merchant_uid: orderId,
                name: "노르웨이 회전 의자",
                amount: price,
                buyer_name: name,
                buyer_tel: telNo,
                // 모바일에서 결제 시 다음 URL로 리다이렉트
                m_redirect_url: location.origin + '/order/process',
            }, function (res) {
                // PC에서 결제 시 콜백 실행
                console.log("결과", res);

                if (res.success) {
                    const body = new URLSearchParams({
                        imp_uid: res.imp_uid,
                        merchant_uid: res.merchant_uid,
                    });

                    res.error_msg && body.set('error_msg', res.error_msg);
                    res.error_code && body.set('error_code', res.error_code);

                    fetch('/api/order/process', {
                        method: 'POST',
                        body,
                    })
                        .then(res => res.json())
                        .then(v => {
                            if (v.success) {
                                location.href = v.url;
                            }
                        });
                } else {
                    alert(res.error_msg);
                }
            })
        }
    </script>
</html>
