<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{layouts/body}"
    xmlns:layout="http://www.w3.org/1999/xhtml"
>
    <th:block layout:fragment="title">
        <title>주문 완료</title>
    </th:block>

    <th:block layout:fragment="content">
        <link
            rel="stylesheet"
            as="style"
            crossorigin
            href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard-dynamic-subset.css"
        />
        <link rel="stylesheet" th:href="@{/css/order_common.css}" />
        <link rel="stylesheet" th:href="@{/css/orderComplete.css}" />
        <div id="order">
            <div class="order_inner">
                <div class="order_inner2">
                    <div>
                        <img
                            th:src="@{/images/icons/mdi/store-check-outline.svg}"
                            alt="결제 완료 이미지"
                            class="orderComplete_image"
                            width="150"
                            height="150"
                        />
                    </div>
                    <h2 class="order_title">결제 완료</h2>
                    <div class="orderComplete_description">
                        고객님께서 신청하신 강의가 정상적으로 결제되었습니다.
                    </div>
                    <div class="order_button_list">
                        <a href="/mypage/orderList" class="order_button_1">
                            결제내역 보러 가기
                        </a>
                        <a href="/" class="order_button_1">
                            메인 화면으로 이동
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </th:block>

    <!-- 스크립트 부분 -->
    <th:block layout:fragment="script"></th:block>
</html>
