<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/body}"
      xmlns:layout="http://www.w3.org/1999/xhtml">



<!-- 해당 페이지를 호출하면 콘텐츠 영역에 해당 페이지가 출력 -->
<th:block layout:fragment="content">
    <div class="smallbanner_container">
        <div class="sb_banner_title"><p th:text="${bannerTitle}"></p></div>
    </div>

    <div class="sb_side_page">
        <th:block layout:fragment="detailOrCrud">
        </th:block>
    </div>

    </div>

</th:block>

<!-- 스크립트 부분 -->
<th:block layout:fragment="script">

    <script th:inline="javascript">
    </script>

</th:block>

</html>
