<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{layouts/body}"
    xmlns:layout="http://www.w3.org/1999/xhtml"
>
    <th:block layout:fragment="title">
        <title>로그인</title>
    </th:block>

    <th:block layout:fragment="content">
        <div
            style="
                margin: 10vh auto;
                color: white;
                max-width: 32rem;
                text-align: center;
            "
        >
            <form action="/temp_loginProcess" name="loginForm">
                <label>
                    <input
                        type="radio"
                        name="accountClass"
                        value="normal"
                        checked
                    />
                    <span>일반 회원</span>
                </label>
                <label>
                    <input type="radio" name="accountClass" value="trainer" />
                    <span>트레이너 회원</span>
                </label>
                <br />
                <input type="text" name="id" placeholder="아이디" />
                <br />
                <input type="password" name="password" placeholder="비밀번호" />
                <br />
                <div style="display: none">
                    <button type="button">네이버 로그인</button>
                    <button type="button">구글 로그인</button>
                </div>
                <br />
                <input type="submit" value="로그인" />
                <br />
                <a th:href="@{/temp_join}">회원가입</a>
            </form>
        </div>
        <script>
            void (function (D) {
                "use strict";

                /**
                 * @type {{
                 *   loginForm: HTMLFormElement
                 * }}
                 */
                const { loginForm } = D.forms;

                /**
                 * @type {{
                 *   accountClass: HTMLInputElement
                 *   id: HTMLInputElement
                 *   password: HTMLInputElement
                 * }}
                 */
                const { accountClass, id, password } = loginForm.elements;

                loginForm.addEventListener("submit", function (e) {
                    e.preventDefault();

                    let urlPrefix;
                    let memberClass;

                    switch (accountClass.value) {
                        case "normal":
                            urlPrefix = "member";
                            memberClass = "MEMBER";
                            break;
                        case "trainer":
                            urlPrefix = "trainer";
                            memberClass = "TRAINER";
                            break;
                        default:
                            alert("알 수 없는 회원입니다.");
                            return;
                    }

                    if (id.value.length <= 0 || password.value.length <= 0) {
                        alert("ID 또는 비밀번호를 입력해 주세요.");
                        return;
                    }

                    const body = {
                        id: id.value,
                        password: password.value,
                        memberClass,
                    };

                    const url = `/api/login`;
                    fetch(url, {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify(body),
                    })
                        .then((v) => v.json())
                        .then((v) => {
                            if (v.success) {
                                location.href = "/";
                            } else {
                                alert(v.message);
                            }
                        });
                });
            })(document);
        </script>
        <script th:if="${message != null}" th:inline="javascript">
            alert([[${message}]]);
        </script>
    </th:block>

    <th:block layout:fragment="script"></th:block>
</html>
