<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<div>
    <div class="container">
        <div>
            <a href="main.html">
                <span>Connect GYM</span>
            </a>
        </div>

        <form action="/temp_joinProcess" method="post">
            <div class="input_id_wrap">
                <label for="InputID">아이디</label>
                <input id="InputID" type="text" name="userId"></input>
                <button onclick="">중복 확인</button>
            </div>

            <div>
                <label for="InputPW">비밀번호</label>
                <input id="InputPW" type="password" name="userPw"></input>
                <div class="valid-feedback"></div>
            </div>

            <div>
                <label for="CheckPW">비밀번호 재확인</label>
                <input id="CheckPW" type="password"></input>
                <div class="invalid-feedback">비밀번호가 일치하지 않습니다.</div>
            </div>

            <div>
                <label for="InputName">이름</label>
                <input id="InputName" type="text" name="userName"></input>
            </div>

            <div>
                <label for="InputTel">전화번호</label>
                <input id="InputTel" type="number" placeholder="'-'를 제외하고 작성하여주세요." name="userTel"></input>
            </div>

            <div>
                <label for="InputEmail">이메일</label>
                <input id="InputEmail" type="email"name="userEmail"></input>
                <input id="checkEmail" type="text" name="checkEmail"></input>
                <button onclick="">본인인증</button>
            </div>

            <div>
                <button type="submit">회원가입</button>
            </div>
        </form>


    </div>
</div>

</body>
</html>
