<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/body}"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<th:block layout:fragment="title">
    <title>Lesson > ${lessonCategory}</title>
</th:block>

<th:block layout:fragment="javascript">
    <script type="text/javascript" th:src="@{/js/trainer.js}"></script>
</th:block>

<!-- 해당 페이지를 호출하면 콘텐츠 영역에 해당 페이지가 출력 -->
<th:block layout:fragment="content">
    <div class="trainerList_container">

        <div class="trainerList_all_banner">
           멋있는 헤더 넣을 예정
        </div>

        <div class="trainerList_all_content">

            <div class="trainerList_all_content_detail">

                <div class="trainerList_all_content_detail_card" th:each="trainer : ${trainerList}">
                    <a th:href="@{/trainerDetail/{trainerNo}(trainerNo=${trainer.trainerNo})}">
                        <div class="trainerList_all_item_border">
                            <div class="trainerList_all_item_container">
                                <div class="trainerList_all_item_front">
                                    <img th:src="${trainer.profileImg}">
                                </div>

                                <div class="trainerList_all_item_back">
                                    <div class="trainerList_all_item_text">
                                        <p>하트 <span class="trainerList_all_item_text_color"><img id="heart" th:src="@{/images/icons/heart-solid.svg}">[[${trainer.followCount}]]</span>개</p>
                                        <p>누적 수강생 <span class="trainerList_all_item_text_color">[[${trainer.memberCount}]]</span>명</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            </div>

        </div>
    </div>

</th:block>


</html>
