<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/body}"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<th:block layout:fragment="title">
    <title>트레이너 리스트</title>
</th:block>

<th:block layout:fragment="add-css">
    <link th:href="@{/css/trainer.css}" rel="stylesheet">
</th:block>


<th:block layout:fragment="content">

    <script>
 function search() {
  let keyword = document.querySelector(".trainerList_search_input").value;
    if (keyword === '' || keyword == null) {
       document.querySelector(".trainerList_search_result").innerHTML = '';
       document.querySelector(".trainerList_search_result").classList.remove("show");
      } else {


  $.ajax({
    type: "POST",
    url: "/trainerList/search",
    data: JSON.stringify({ keyword: keyword }),
    contentType: "application/json; charset=utf-8",
    dataType: "json",
    success: (response) => {
      const searchResult = document.querySelector(".trainerList_search_result");
      let html = '';

      if (response.length > 0) {
        response.forEach((trainer) => {
          html += `
            <li class="trainerList_all_content_detail_card">
              <a class="trainerList_all_content_detail_card_a" href="/trainerDetail/${trainer.trainerNo}">
                <div class="trainerList_all_content_detail_card_photo">
                  <img src="${trainer.profileImg}" alt="트레이너 이미지">
                </div>
                <div class="trainerList_all_item_text" title="트레이너의 팔로우와 누적 수강생 수입니다.">
                  <span class="trainerList_all_item_text_color">
                    <img id="followingHeart" width="15" height="15" src="/images/icons/heart-solid.svg">
                    ${trainer.followCount}
                  </span>
                  <span class="trainerList_all_item_text_color">
                    <img id="memberCount" width="15" height="15" src="/images/icons/face-smile-regular.svg">
                    ${trainer.memberCount}
                  </span>
                </div>
              </a>
            </li>
          `;
        });

        searchResult.innerHTML = html;
        searchResult.classList.add("show");

      } else {
                searchResult.innerHTML = '검색하신 결과가 없습니다.';
                searchResult.classList.add("show");
      }
    },
    error: (error) => {
      console.error(error);
    },
  });
  }
}

    </script>


        <div class="trainerList_all_content_detail_banner">
            <div>Trainer, Just for You!</div>
    </div>

    <div class="trainerList_all_content_detail_container">

        <div class="trainerList_search">
            <input type="text" class="trainerList_search_input" name="trainerList__search_trainerName"
                   placeholder="트레이너 이름으로 검색"
                   onkeyup="search();">
            <button class="trainerList_search_icon" onclick="search();">
                <img width="24px" height="24px" class="search_icon_img"
                     src="https://connectgym-bucket.s3.ap-northeast-2.amazonaws.com/commonData/search_icon.png"/>
            </button>
        </div>

        <div class="trainerList_search_result"></div>

        <div class="trainerList_all_content_detail_rolling">
            <div class="trainerList_all_content_detail_wrap">
                <div class="trainerList_all_content_detail_roller">
                    <ul>
                        <li class="trainerList_all_content_detail_card" th:each="trainer : ${trainerList}">
                            <a class="trainerList_all_content_detail_card_a"
                               th:href="@{/trainerDetail/{trainerNo}(trainerNo=${trainer.trainerNo})}">
                                <div class="trainerList_all_content_detail_card_photo">
                                    <img th:src="${trainer.profileImg}">
                                </div>
                            </a>
                            <div class="trainerList_all_item_text" title="트레이너의 팔로우와 누적 수강생 수입니다.">
                                    <span class="trainerList_all_item_text_color">
                                    <img id="followingHeart" width="15"
                                         height="15"
                                         th:src="@{/images/icons/heart-solid.svg}">
                                        [[${trainer.followCount}]]</span>
                                <span class="trainerList_all_item_text_color">
                                       <img id="memberCount" width="15"
                                            height="15"
                                            th:src="@{/images/icons/face-smile-regular.svg}">
                                       [[${trainer.memberCount}]]</span>
                            </div>


                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>


    <th:block layout:fragment="script">
        <script type="text/javascript" th:src="@{/js/trainer.js}"></script>
    </th:block>
</th:block>


</html>


