<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{content/mypages}"
      xmlns:layout="http://www.w3.org/1999/xhtml">


<th:block layout:fragment="title">
    <title>마이페이지 > 나의 리뷰</title>
</th:block>

<th:block layout:fragment="script">
</th:block>


<th:block layout:fragment="mypage">

    <div class="myReview_container">
        <div class="myReview_border">
            <!--   리뷰는 검색 X  -->
            <div class="myReview_search">
                <input type="text" class="myReview_search_input" name="myReview_search_byName" placeholder="트레이너 이름으로 검색"
                       onchange="search();">
                <button class="myReview_search_icon" onclick="search();">
                    <img width="24px" height="24px"
                         src="https://connectgym-bucket.s3.ap-northeast-2.amazonaws.com/commonData/search_icon.png"/>
                </button>
            </div>
            
            <div class="myReview_list">
                <th:block th:if="${reviews.size() > 0}">
                    <div class="myReview_list_trainer" th:each="trainer:${reviews}">
                        <div class="myReview_list_trainer_img">
                            <img th:src="${trainer.profileImg}" >
                        </div>
                        <div class="myReview_list_trainer_info">
                            <div class="myReview_list_trainer_name">[[${trainer.trainerName}]]</div>
                            <div class="myReview_list_trainer_id">[[${trainer.trainerId}]]</div>
                        </div>
                        <div class="myReview_list_trainer_button">
                            <img width="50" height="50"
                                 src="https://connectgym-bucket.s3.ap-northeast-2.amazonaws.com/commonData/message_icon.png"/>
                            <button th:onclick="|location.href='/trainerDetail/${trainer.trainerNo}'|">프로필보기</button>
                        </div>
                    </div>
                </th:block>

            </div>
        </div>
    </div>


</th:block>

</body>

</html>
