
.createLesson_container {
    display: flex;
   /* justify-content: center;*/
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    height:100%;
}

.createLesson_form {
    border: 1px solid #A3DC10;
    border-radius: 5px;
    padding: 10px;
    width: 50vw;
    margin-top: 5vh;
    margin-bottom: 10vh;
}


.profile_picture {
    display: flex;
    align-items: center;
    position: relative;
}

.profile_info {
    display: flex;
    align-items: center;
    position: relative;
}


.profile_picture img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
    margin-left: 10px;
}

.profile_info .user_id {
    font-weight: bold;
    font-size: 20px;
    color: white;
    margin-left: 10vw;
}

.attachment {
    position: absolute;
    left: 6vw;
    top: 10vh;
}

.add_attachment {
    background: rgba(163, 220, 16, 0.5);
    color: #0E181A;
    font-size: 20px;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    top: -2vh;
    right: -20px;
}

.add_attachment:hover {
    background: rgba(163, 220, 16, 1);
}

.add_attachment:active {
    background: rgba(163, 220, 16, 0.7);
}


.attachment_label {
    display: block;
    position: relative;
    width: 100px;
    height: 100px;
}

.attachment_input {
    display: none;
}


.attachment_label {
    display: block;
    position: relative;
    width: 100px;
    height: 100px;
}

.attachment_input {
    display: none;
}

.input_createLesson {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input_createLesson li {
    margin-bottom: 3vh;
    text-align: center;
    width: 30vw;

}

.input_createLesson label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    text-align: left;
    color: white;
}

.input_createLesson input {
    width: 100%;
    padding: 10px;
    border: 1px solid #A3DC10;
    border-radius: 5px;
}

.input_createLesson select {
    width: 100%;
    padding: 10px;
    border: 1px solid #A3DC10;
    border-radius: 5px;
    box-sizing: content-box;
}

.input_createLesson textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #A3DC10;
    border-radius: 5px;
    height: 10vh;
}

#createLessonImgInput {
    display: none;
}
.createLessonImg_container:hover {
    cursor: pointer;
}

.input_createLesson .sign_up_btn {
    background-color: #A3DC10;
    position: relative;
    display: inline-block;
    width: 180px;
    font-size: 18px;
    font-family: 'Black Ops One', cursive;
    padding: 10px 20px;
    color: white;
    border: 0px;
    border-radius: 6px;
    text-align: center;
    transition: top .01s linear;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    margin-top: 10px;

    box-shadow: 0 0 0 1px #A3DC10 inset,
    0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 8px 0 0 #81BC12,
    0 8px 0 1px rgba(0, 0, 0, .4),
    0 8px 8px 1px rgba(0, 0, 0, 0.5);
}

.input_createLesson .sign_up_btn:active {
    top: 9px;
    border: 0px;
    box-shadow: 0 0 0 1px #A3DC10 inset,
    0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 0 0 1px rgba(0, 0, 0, 0.4);
}

.input_createLesson .sign_up_btn:hover {
    background-color: #A7D145;
}
