
.m-dsh-main-container {
    border: 1px solid black;

}

.m-dsh-first-row {
    border: 1px solid black;
    display: flex;
    height: 20%;

}

.m-dsh-first-row-left {
    border: 1px solid black;
    width: 35%;
}

.m-dsh-profile-box {
    margin: 2%;
    position: relative;
}

.m-dsh-profile-update-btn {
    position: absolute;
    right: 0;
}

.m-dsh-profile-text {
    margin-left: 5%;
    margin-right: 20%
}

.m-dsh-profile-id {
    border: 1px solid;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
}

.m-dsh-profile-info {
    color: black;
}

.m-dsh-first-row-right {
    width: 65%;
}

.m-dsh-lesson-box {
}

.m-dsh-lesson-box-title {
}

.m-dsh-lesson-box-title-text {
}

.m-dsh-lesson-box-content {
}

.m-dsh-lesson-box-img {
}

.m-dsh-lesson-box-text {
}

.m-dsh-lesson-title {
}

.m-dsh-lesson-info {
}

.m-dsh-left-container {
}

.m-dsh-left-first-row {
}

.m-dsh-left-first-row-card {
}

.m-dsh-card-title {
}

.m-dsh-card-content {
}

.m-dsh-left-second-row {
}

.m-dsh-message-box {
}

.m-dsh-message-header {
}

.m-message-text {
}

.m-message-subtext {
}

.m-dsh-review-box {
}

.m-dsh-review-header {
}

.m-dsh-review-header-title {
}

.m-dsh-review-wrapper {
}

.m-dsh-review-content {
}

.m-dsh-review-title {
}

.m-dsh-review-subtext {
}

.m-dsh-left-third-row {
}

.m-dsh-faq-box {
}

.m-dsh-faq-header {
}

.m-dsh-faq-header-title {
}

.m-dsh-faq-content {
}

.m-dsh-faq-title {
}

.m-dsh-faq-text {
}

.m-dsh-right-container {
}

.m-dsh-order-box {
}

.m-dsh-order-box-header {
}

.m-dsh-order-box-title {
}

.m-dsh-order-list {
}

.m-dsh-order-content {
}

.m-dsh-order-pic-wrapper {
}

.m-dsh-order-pic {
}

.m-dsh-order-text {
}

.m-dsh-order-no {
}

.m-dsh-order-title {
}

.m-dsh-order-price {
}

.m-dsh-order-date {
}

.mychatroom_list_trainer {
    display: flex;
}

.mychatroom_list_trainer {
    color: #0D1416;
}
