.Diet{
    margin-top: 20px;
}

/* 식단 박스 */
.Diet{
    display: grid;
    width: 100%;
    height: 650px;
    font-family: Arial, sans-serif;
    grid-template-columns:43% 43%;
    grid-column-gap: 100px;
    justify-content: center;
    align-items: center;
}



/* 개별 박스 */
.meal_box {
    background-color: #e9f8c4;
    display: inline-block;
    /*    flex-direction: column;  가로 방향으로 아이템 배치
    align-items: center; */
    width: 100%;
    height: 35%;
    border: none;
    border-radius: 20px;
    padding: 10px;
    box-sizing:inherit;
}

/* 식단 개별 테이블구조 , 팝업 데이터테이블 구조 */
.table, .pop_content2{
    display: grid;
    /* Flexbox 대신 Grid 레이아웃 사용 <자식 태그> food_name, sub text-align 적용
     */
    padding: 5px;
    grid-template-columns: repeat(auto-fill, 3fr 1fr 1fr 1fr 1fr 1fr); /* 각 열의 너비 설정 */
    align-items: center;
}

/* 영양성분명 */
 .sub, .sub1{
    text-align: right;
    white-space: nowrap; /* 텍스트를 한 줄로만 표시하도록 설정 */
 }



 .food_name, .food_name1{
    text-align: left;
    white-space: nowrap; /* 텍스트를 한 줄로만 표시하도록 설정 */

 }

.meal_box td{
    padding: 10px;
}
.meal_box td, .foodselect_Tbl td{
    color: black;
    font-weight:bold;
}





/* + 버튼 */

.meal_box button{
    float: right;
}

/* 아 점 저 글씨*/
.Diet1 h3{
    padding: 5px;
    font-size: 25px;
    color: white;
    font-weight:bold
}

/* 개별 박스 내부 margin
.meal_box h3, button{
    margin: 20px ;
} */


/* + 버튼 */
.btn1 {
    background-color: #7a9d6e;
    color: rgb(227, 238, 242);
    padding: 8px 13px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 13px;
}




/* 팝업 창 */

.dietPop {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 700px;
    justify-content: center;
    align-items: center;
    overflow: auto; /* 스크롤 */
}

/* 팝업 내용 */
.pop-content {
    width: 500px;
    height: 700px;
    background-color: #e6ebe1;
    color: #5f797c;
    padding: 20px;
    border-radius: 10px;
}

.pop-content h1{
    margin-left: 5px;
}

/* 팝업 내 음식 데이터 테이블 */
.pop_content2{
    width:80%;
    font-size:15px;
}


/* 닫기 버튼 */
#closeBtn{
padding: 10px;
background-color: #e9f8c4;
border-radius:20px;
justify-items: end;
margin: 5px;
}

/* input box */

#popInput{

 width: 75%;
 height: 30px;
 padding: 10px;
 border-radius: 10px;
}

.pop-content input, button{
    display: inline-block;
    vertical-align: middle;
}

/* 팝업 data 들어가는 table 정리
   .foodselect_Tbl

.foodselect_Tbl td{
 td 기본적으로 자동 정렬 margin 안 먹음 display : block
    padding:10px;
    text-align: center;
}
*/
