
/* 식단 박스 */
.Diet{
    margin-top: 30px;
    font-family: Arial, sans-serif;
    display: grid;
    width: 100%;
    height: 650px;
    font-family: Arial, sans-serif;
    grid-template-columns: 2fr 2fr;
    grid-column-gap: 50px;
    justify-content: center;
    align-items: center;
}


/* 개별 박스 */
.meal_box {
    background-color: #e9f8c4;
    display: inline-block;
    align-items: center;
    width: 100%;
    height: 35%;
    border: none;
    border-radius: 20px;
    padding: 10px;
    box-sizing:inherit;
    justify-items:center;
}

/* 식단 개별 테이블구조 , 팝업 데이터테이블 구조 */
.meal_box, .pop_content2{
   justify-content: space-between;
    padding: 5px;
    align-items: center;
}

/* 영양성분명 */
 .sub, .sub1{
    text-align: center;
 /*   white-space: nowrap; 텍스트를 한 줄로만 표시하도록 설정 */
 }


.meal_box th, .foodselect_Tbl th{
    color: black;
    font-weight:bold;
}

/* + 버튼
.meal_box button{
    float: right;
} */


/* 아 점 저 글씨*/
.Diet1 h3{
    padding: 5px;
    font-size: 25px;
    color: white;
    font-weight:bold
}



/* + 버튼 */
.sub> button{
    background-color: #7a9d6e;
    color: rgb(227, 238, 242);
    padding: 8px 13px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 13px;
    visibility: visible;
}




/* 팝업 창 */

.dietPop {
    z-index: 1000; /* header 위로 올리는 작업 */
    background-color: rgba(0, 0, 0, 0.5); /* 뒷 배경 */
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 700px;
    justify-content: center;
    align-items: center;
    overflow: auto; /* 스크롤 */
}

/* 팝업 내용 */
.pop-content {
    width: 500px;
    height: 650px;
    background-color: #e6ebe1;
    color: #5f797c;
    padding: 20px;
    border-radius: 10px;
}

.pop-content h1{
    margin-left: 5px;
}

/* 팝업 내 음식 데이터 테이블 */
.pop_content2{
    width:80%;
    font-size:15px;
}


/* 닫기 버튼 */

#closeBtn{
    font-size: 20px;
    font-weight: bold;
    background-color: #e9f8c4;
    border-radius:50%;
    margin-left: 85%;
}


/* input box */

#popInput{

 width: 77%;
 height: 30px;
 padding: 10px;
 border-radius: 10px;
}

.pop-content input, button{
    display: inline-block;
    vertical-align: middle;
}

