.foodD_calendar {
    text-align: center;
    margin: auto;
    width: 95%;
    font-family: Arial, sans-serif;
    background-color: #0E1414;
    font-size: 1.5vw;
    padding-top: 40px;

}

.foodD_calendar_table {
    width: 100%;
    min-width: 900px;
    border-collapse: collapse;
    table-layout: fixed;
    color: #a0ffc2;
    /*white;*/
}

.foodD_calendar_padding {
    padding: 2px;
}


ul > li {
    list-style-type: none;
}

.foodD_clanedar_datebox {
    padding-top: 4%;
    padding-bottom: 4%;
    border-radius: 2px;
    background-color: #b1b1b152;
    /*#a2dc10bf;*/
    margin: 3px;
    vertical-align: center;
    border: 2px solid #ffffff;

}

.foodD_clanedar_foodbox {
    display: block;
    padding-top: 110%;
    border-radius: 2px;
    background-color: #ffffff0f;
    /*#a2dc1078;*/
    margin: 3px;
    position: relative;

}

.foodD_clanedar_foodbox .foodD_foodTime {
    position: absolute;
    top: 1px;
    left: 4px;
    font-size: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    margin-block-start: 2px;
    width: 95%;
}

.foodD_clanedar_foodbox .foodD_foodTime > div {
    height: 18%;
    background: #ffffffa1;
    border: solid 3px #81bc12;
    width: 95%;
    border-radius: 5px;
    margin-bottom: 7px;
    color: #0e1414;
}

.foodD_clanedar_foodbox .foodD_foodTime > .SNACK {
    height: 18%;
    background: rgb(239, 206, 147);
    border: solid 2px #e5a045;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 7px;
    color: #a8660b;
}


.foodD_clanedar_day_layout {
    width: 100%;

}

.calendar_header {
    display: flex;
    justify-content: space-around;
    align-items: center
}

.calendar_header h1 {
    color: white;
}

/*.foodD_calendar-button {
    background-color: transparent;
    color: #A3DC10;

    border: none;
}*/

.site_banner.Calendar-banner {
    background: url("/images/banner-calendar.jpg") center center / cover no-repeat;
    filter: grayscale(100%);


    background-color: #d0dda1;

}


/* 이전달  다음달 버튼*/
.foodD_calendar .calendar_header button {
    background-color: #4b6957;
    /*#A3DC10;*/
    position: relative;
    display: inline-block;

    height: 20%;
    font-family: 'Black Ops One', cursive;
    padding: 5px 5px;
    color: white;
    border: 0px;
    border-radius: 6px;
    text-align: center;
    transition: top .01s linear;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);

    box-shadow: 0 0 0 1px #a8bfb1 inset,
    0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 4px 0 0 #c4dbcc,
    0 4px 0 1px rgb(239 239 239 / 40%),
    0 4px 4px 1px rgba(0, 0, 0, 0.5);

    /*0 0 0 1px #A3DC10 inset,
      0 0 0 2px rgba(255,255,255,0.15) inset,
      0 4px 0 0 #81BC12,
      0 4px 0 1px rgba(0,0,0,.4),
      0 4px 4px 1px rgba(0,0,0,0.5);*/
}

.calendar_header button:active {
    top: 6px;
    border: 0px;
    box-shadow: 0 0 0 1px #a0ffc2 /*#A3DC10*/ inset,
    0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 0 0 1px rgba(0, 0, 0, 0.4);
}

.calendar_header button:hover {
    background-color: #a0ffc2; /*#A7D145;*/
    transform: scale(1.3);
}
