.foodD_search {
    text-align: center;
    margin: auto;
    width: 95%;

    font-family: Arial, sans-serif;
    /*
    background-color: #0E1414;
*/
    font-size: 1.5vw;
    padding-top: 40px;
}

.search_header {
    justify-content: space-around;
    align-items: center;
}

.info_btn,
.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchInput {
    padding: 11px;
    margin: 2px;
    border-radius: 5px;
    margin-right: 4px;
}

.write_btn {
    /* margin-left: 72%; */
}

.foodD_search button {
    background-color: transparent;
    color: #a3dc10;
    border: none;
}

.info_btn .search_btn {
    background-color: #0E1414;
    position: relative;
    display: flex;
    height: 38px;
    font-family: Noto sans-serif;
    padding: 5px 5px;
    font-size: 0.8rem;
    color: #a3dc10;
    width: 74px;
    border: 2px solid #a3dc10ad;
    letter-spacing: 1px;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    /* transition: top 0.01s linear; */
    /* text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15); */
    /* box-shadow: 0 0 0 1px #aaaeac inset,
                     0 0 0 2px rgba(255, 255, 255, 0.15) inset,
                     0 4px 0 0 #ffedcd, 0 4px 0 1px rgb(239 239 239 / 40%),
                     0 4px 4px 1px rgba(0, 0, 0, 0.5); */
}

.info_btn .write_btn {
    background-color: #a3dc10ad;
    position: relative;
    display: flex;
    height: 38px;
    font-family: Noto sans-serif;
    padding: 5px 5px;
    font-size: 0.8rem;
    color: white;
    width: 80px;
    /* border: 0px; */
    border-radius: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    font-weight: bold;
    cursor: pointer;
    /* transition: top 0.01s linear; */
    /* text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15); */
    /* box-shadow: 0 0 0 1px #aaaeac inset,
                     0 0 0 2px rgba(255, 255, 255, 0.15) inset,
                     0 4px 0 0 #ffedcd, 0 4px 0 1px rgb(239 239 239 / 40%),
                     0 4px 4px 1px rgba(0, 0, 0, 0.5); */
}

.search_header button:active {
    top: 6px;
    border: 0px;
    box-shadow: 0 0 0 1px #a3dc108f inset,
    0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
}

.info_btn .search_btn:hover {
    background-color: #a3dc10ad;
    color: white;
    /* transform: scale(1.3); */
}

.info_btn .search_btn:active {
    background-color: #a3dc1080;
    color: white;
    /* transform: scale(1.3); */

}

.info_btn .write_btn:hover {
    background-color: #a3dc1080;

}

.info_btn .write_btn:active {
    background-color: #a3dc1047;

}

.FoodInfo_table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    margin-top: 20px;
    color: white;
}

/* 식품 정보 이름 */
.FoodInfo_table th {
    font-size: 1rem;
    padding: 12px;
    margin-top: 10px;
    border-bottom: 1px solid white;
}

.FoodInfo_table td {
    padding: 12px;
    font-size: 15px;
    border-bottom: 1px solid rgb(161 161 161 / 24%);
}

/* 결과
span{
    font-size: 15px;
}
 */

/* 팝업 */

.dietPop {
    z-index: 1000; /* header 위로 올리는 작업 */
    background-color: rgba(0, 0, 0, 0.5); /* 뒷 배경 */
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
}

/* 팝업 내용 */
.pop-content {
    justify-content: center;
    width: 40%;
    overflow-y: auto;
    background-color: #000000de; /*#A3DC10;*/
    color: #ebfdff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    overflow: auto;
    top: 50%; /* 수정: 수직 가운데 정렬 */
    left: 50%;
    height: 80%;
    margin-top: 5%;

    /*
    transform: translate(-50%, -50%);
*/
}

.foodInput label {
    text-align: right;
}

.pop-content h2 {
    margin: 0 0 20px; /* 위 아래 여백 추가 */
}

/* 닫기 버튼 */

#closeBtn {
    font-size: 20px;
    font-weight: bold;
    /* background-color: #fad693; */
    background: none;
    border: none;
    border-radius: 50%;
    margin-left: 90%;
    padding: 5px 10px;
    color: #9e9e9e;
    cursor: pointer;
}

#closeBtn:hover {
    color: #ffffff;
}

#closeBtn:active {
    color: #ffffff8c;
}

/* input 박스 정리 */
.foodInput {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.nutriNm,
.nutriInput {
    flex: 0 0 130px; /* 고정 너비 */
    font-weight: bold;
    margin-right: 15px;
}

/* 입력 필드 스타일 지정 */
.nutriInput {
    flex: 1; /* 남은 공간을 채우도록 설정 */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.error {
    font-weight: bold;
    font-size: 10px;
    color: #f9b332;
}

#submitBtn {
    background-color: #a3dc10b8;
    color: white;
    padding: 10px;
    border-radius: 5px;
    /* font-weight: bold; */
    width: 90px;
    font-size: 0.9rem;
    cursor: pointer;

}

#submitBtn:hover {
    background-color: #a3dc10a8;
    color: white;
}

#submitBtn:active {
    background-color: #a3dc1085;
    color: white;
}

.swal2-btn {
    background-color: #878787;
    border: 0;
    border-radius: 0.25em;
    color: #fff;
    font-size: 2em;
}

.foodInfo_search_pagination > .foodInfo_search_pagination_ul {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.foodInfo_search_pagination
> .foodInfo_search_pagination_ul
> .foodInfo_search_pagination_li {
}

.foodInfo_search_pagination
> .foodInfo_search_pagination_ul
> .foodInfo_search_pagination_li_on {
}

.foodInfo_search_pagination
> .foodInfo_search_pagination_ul
> .foodInfo_search_pagination_li
.foodInfo_search_pagination_li_button {
    background-color: initial;
    border: none;
    color: rgb(192, 192, 192);
    cursor: pointer;
    width: 100%;
    height: 100%;
    font-size: 0.875rem;
}

.foodInfo_search_pagination
> .foodInfo_search_pagination_ul
> .foodInfo_search_pagination_li_on
.foodInfo_search_pagination_li_button {
    color: white;
}


/* banner */
.site_banner.FoodInfo-banner {
    background: url("/images/banner-fooddiary.jpg") center center / cover no-repeat;
    /*    filter: grayscale(100%);*/
    background-color: #d0dda1;
}

