@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
/*============공통===========*/
body{

}

/*============헤더===========*/
header {
    display:flex;
    align-items:center;
    background-color: #0D1416;
    font-family: 'Do Hyeon', sans-serif;
    height: 10vh;
}

header a {
    text-decoration: none;
    color:#C2D91A;
    font-weight: bold;
    font-size : 14pt;
}

header .header-item {
    text-align : center;
    width : 130px;
}

/*============헤더 끝===========*/

/*============바디===========*/
.content-body{

}
/*============바디 끝===========*/

/*============푸터===========*/
footer {
    background-color:lemonchiffon;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 78px;
    border-top: 1px solid #e1e1e1;
    padding: 40px 20px;
}

.footer_inner {
    width: 1280px;
    margin: 0 auto;
    padding-top: 20px;
    line-height: 20px;
    text-align: center;

}

.list_corp {
    overflow: hidden;
    display: inline-block;
    margin-right: 23px;
    vertical-align: top;
}


ul {
    list-style: none;
}

/*============푸터 끝===========*/

/*============사이드바 페이지===========*/

.side_menu a {
text-decoration: none;
color:#A3DC10;

}

/* 전체 div */
.main_page{
    display: flex;
    align-items: baseline;
}
/*==========*/

.sidebar{
    background-color: #0D1416;
    /*position: absolute;*/
    width: 300px;
    height: 100%;
   /* margin-left: -20px;
    margin-top:50px;*/
}

/*==사이드바 로고==*/
.side_logo{
display: flex;
justify-content: center;
margin: 50px 0px;
}

/*==사이드바 메뉴 div==*/
.side_menu{
 flex: 1;
 margin-right:60px;
text-align: left;
color:#A3DC10;
line-height : 50px;
}

/*사이드바 타이틀명*/
.side-title{
width: 100%;
background-color : white;
border-radius: 0 16px 16px 0;
font-size:18pt;

}

/*사이드바 소제목명*/
.side-content{
font-size:14pt;
font-weight:20;
line-height : 40px;
}

/*== 본문 ==*/
.page {
    flex: 3;
    background:yellow;
}
/*============사이드바 끝===========*/



