.ld_container {
    background: white;
    padding: 50px;
}

.lessonDetail_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    /*height: 100vh;*/
    gap: 4vh;
    margin: 5vh 9vw 5vw 9vw;
    /* display: flex; */
    background: white;
    /* flex-direction: row; */
    justify-content: center;
    /* align-items: center;*/
    min-height: 600px;
    min-width: 600px;
}

.lessonDetail_leftContainer {
    /*background: blue;*/
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    min-height: 300px;
    min-width: 300px;
    width: 100%;
    height: 100%;
    /* margin-right: 5vw; */
    /* flex: 1; */
    align-items: end;
    /* justify-content: center;*/

}


.lessonDetail_content {

    width: 100%;
    height: 100%;

}

.lessonDetail_img {

    width: 100%;
    height: 100%;
}


.lessonDetail_rightContainer {
    /*background: yellow;*/
    display: flex;
    width: 100%;
    height: 100%;
    /* position: relative; */
    border-top: 2px solid black;
    /* align-items: center; */
    flex-direction: column;
    /* flex: 1; */
    align-items: center;
    min-height: 300px;
    min-width: 300px;

}

.lessonDetail_trainerBox {
    /* background: red; */
    width: 96%;
    margin-top: 3vh;
    /* border-bottom: 1px solid #c7c7c7; */
    /* border-radius: 5px; */
    /* text-align: center; */
    /* justify-content: center; */
    display: flex;
    height: 22%;
    /* border-collapse: collapse; */
    /* align-items: center; */
    /* padding: 1vh;*/
}

.ld_trainerImg {
    /*border: black 1px solid;*/
    margin-right: 1vw;
    width: 20%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 80px;
    min-width: 80px;
}

.ld_trainerImg img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    max-width: 500px;
    max-height: 400px;
    min-height: 100px;
    min-width: 100px;
}

.ld_trainerInfo {
    /*border: black 1px solid;*/
    width: 77%;
    flex-direction: column;
    display: flex;
    height: 100%;
    /* margin: 0.5vh; */
    justify-content: space-between;
    min-width: 300px;
    min-height: 80px;

}

.ld_trainerInfo #ld_trainerName {
    font-weight: bold;
    margin: 0 0 0 0;
    font-size: 1rem;
}

.ld_trainerInfo #ld_trainerInfo {
    margin: 0 0 1vh 0;
    font-size: 0.9rem;
}

.ld_trainer_detail_btn {
    width: 7vw;
    height: 4vh;
    /* margin-left: 1vh; */
    padding: 1px;
    /* margin-top: 0vh; */
    background: white;
    border: 0.5px solid gray;
    border-radius: 2px;
    cursor: pointer;
    transition: box-shadow 0.3s;
    font-size: 0.6rem;
    /* font-weight: bold; */
    color: gray;

}


.ld_trainer_detail_btn:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* 버튼에 호버 시 섀도우 추가 */
}


.lessonDetail_infoBox {
    width: 96%;
    margin: 4vh 0 4vh 0;
    /*border: 1px solid black;*/
    /* border-radius: 5px; */
    /* text-align: center; */
    justify-content: start;
    display: flex;
    height: 50%;
    /* border-collapse: collapse; */
    /* align-items: center; */
    /* padding: 1vh; */
    flex-direction: column;
    /* justify-content: space-between;*/
}

.lessonDetail_infoBox #lesson_name {

    font-weight: bold;
    font-size: 1.3rem;
}

.lessonDetail_infoBox #lesson_price {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: auto;
    /* margin-top: auto;*/
}

.ld_reviewBox {
    display: flex;
    flex-direction: column;
    /*border: 1px solid;*/
    height: 37%;
    justify-content: space-between;
}


.ld_reviewBox #ld-review-content {
    font-size: 0.7rem;
    color: darkgray;
}

.lessonDetail_infoBox #review_count {
    color: #b2afaf;

    font-size: 0.7rem;
}


.lessonDetail_btn_box {
    width: 96%;
    /* margin-top: 1vh; */
    /*border: 1px solid black;*/
    /* border-radius: 5px; */
    /* text-align: center; */
    /* justify-content: center; */
    display: flex;
    height: 10%;
    /* border-collapse: collapse; */
    align-items: center;
    /* padding: 1vh; */
    /* margin-bottom: 1vh; */
    justify-content: space-between;
    /* padding: 1vh;*/
}

.lessonDetail_btn_box button,
 .lessonDetail_btn_box .ld-jim-btn{
    height: 100%;
}

.ld-chat-btn {
    width: 35%;
    cursor: pointer;
    border-radius: 0;
    border: 0.5px solid gray;
    background: white;
    font-weight: bold;
}

.ld-chat-btn:hover {
    background: rgba(180, 180, 180, 0.47);
    border: 0.5px solid rgba(180, 180, 180, 0.40);
}

.ld-chat-btn:active {
    background: rgba(180, 180, 180, 0.3);
    border: 0.5px solid rgba(180, 180, 180, 0.3);
}

.ld-order-btn {
    width: 35%;
    cursor: pointer;
    border: 1px solid black;
    background: black;
    color: white;
    font-weight: bold;
    box-shadow: 4px 4px 9px -1px rgb(0 0 0 / 48%);


}

.ld-order-btn:hover {
    background: #A3DC10;
    border: 1px solid #A3DC10;
}

.ld-order-btn:active {
    background: rgba(163, 220, 16, 0.50);
    border: 1px solid rgba(163, 220, 16, 0.50);
}

.lessonDetail_bottomContainer {
    /*background: aqua;*/
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    grid-column: span 2;
    /* width: 100vw; */
    margin-top: 2vh;
    /* height: 34vh;*/
    border-top: 1px solid #afaeae;

}

.lessonDetail_bottomContainer p {
    font-weight: bold;
    font-size: 1rem;
}

.lessonDetail_bottomContainer #lesson_info {
    font-size: 0.9rem;
}

/*=========찜 버튼=============*/

.ld-jim-btn {
    width: 20%;
    background: white;
    border-radius: 0;
    border: 1px solid #ababab;
    transition: box-shadow 0.3s;
}

.ld-jim-btn:hover {
    color: #EDD200;
    cursor: pointer;
    border: 1px solid #EDD200;
    box-shadow: 0 0 5px rgba(255, 255, 0, 0.5);
}

.ld-jim-btn:active {
    color: #f4d524;
    border: 1px solid #f4d524;
}

.ld_like_button_group{
  display:flex;
  align-items:center;
  box-sizing: border-box;

}

.ld_like_count{
    color:#0e1414;
    width:50%;
    text-align:center;
}

.ld_like_button_group svg{
  height : 20px;
  overflow-clip-margin: content-box;
      overflow: clip;
}

.ld_like_button_group label{
    width : 50%;
    cursor: pointer;
    display:flex;
    align-items:center;

}

#ld_star{
    /*라이크 전 회색*/
    fill: #a6a5a5;
}

#ld_likeCheckbox:checked + svg #ld_star{
    fill: #f5de0c;;
    /*animation: beat 1s linear forwards 3;*/
}


/*두근두근 애니메이션*/
@keyframes beat {
    0%{
        transform: scale(1);
    }

    60%{
        transform: scale(1.2);
    }

    80%{
         transform: scale(1.3);
        }

    100%{
        transform: scale(1);
    }
}
