.l-lessonList-container {
    width: 100%;
    height: 100%;
}

.l_lessonlist {
    display: flex;
    margin-top: 80px;
    width: 100%;
    -webkit-box-flex: 1;
    flex: 1;
}

.lessonlist_title {
    font-family: "NanumSquareBold";
    margin: 20px;
}

#l_lessonlist_wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    width: 100%;
    height: 100%;
    margin-bottom: 0%;
}

.l_card {
    background: white;
    width: 272px;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    margin-bottom: 3%;
    border-radius: 5px;
}

.l_card-container {
    width: 232px;
    height: 290px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 230px;
    min-height: 290px;
    border-radius: 5px;
}

.l_card-img-wrapper {
    height: 170px;
    width: 228px;
    overflow: hidden;
    display: flex;
    border-radius: 5px;
    position: relative;
    perspective: 300px;
}

.l_card-img {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
    border-radius: 5px;
    position: relative;
    backface-visibility: hidden;
    transform: rotateY(0deg);

}


.l_card-img .l_lessonlist_img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.l_card-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.l_card-content #l_trainer-name {
    color: black;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 5px;
}

.l_card-content #l_lesson-title {
    color: darkgray;
    font-size: 0.9rem;
}

.l_card-content #l_lesson-price {
    color: black;
    font-size: 1rem;
    font-weight: bold;
}

.l_card-bottom {
    display: flex;
    flex-direction: row;
}

.l_card-bottom #l_jim-count {
    color: lightgray;
    margin-right: 6%;
    font-size: 0.8rem;
}

.l_card-bottom #l_review-count {
    color: lightgray;
    font-size: 0.8rem;
}

/* 호버 시에 이미지 표시하기 */
.l_card:hover .l_card-img {
    transform: rotateY(180deg);
    /*opacity: 0; !* 앞 이미지 숨김 *!*/
}

.l_card:hover .l_card-back-img {
    opacity: 1; /* 뒤 이미지 표시 */
    visibility: visible;
    transform: rotateY(0deg);
}

.l_card-back-img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
    border-radius: 5px;
    position: absolute;
    backface-visibility: hidden;
    opacity: 0;
    visibility: hidden;
    transform: rotateY(-180deg);
}


.l_trainer_img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}
