.l-lessonList-container {
    width: 100%;
    height: 100%;
}

.l_lessonlist {
    display: flex;
    margin-top: 80px;
    width: 100%;
    -webkit-box-flex: 1;
    flex: 1;
}

.lessonlist_title {
    font-family: "NanumSquareBold";
    margin: 20px;
}

#l_lessonlist_wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    width: 100%;
    height: 100%;
    margin-bottom: 0%;
}

.l_card {
    background: linear-gradient(to bottom right, #ffffff 28%, #e1e0dcbd);
    width: 272px;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    margin-bottom: 3%;
    border-radius: 5px;
}

.l_card-container {
    width: 232px;
    height: 290px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 230px;
    min-height: 290px;
    border-radius: 5px;
}

.l_card-img-wrapper {
    height: 170px;
    width: 228px;
    overflow: hidden;
    display: flex;
    border-radius: 5px;
    position: relative;
    perspective: 300px;
}

.l_card-img {
    /*border: 1px solid black;*/
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
    border-radius: 5px;
    position: relative;
    backface-visibility: hidden;
    transform: rotateY(0deg);

}


.l_card-img .l_lessonlist_img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.l_card-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.l_card-content #l_trainer-name {
    color: black;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 5px;
}

.l_card-content #l_lesson-title {
    color: darkgray;
    font-size: 0.9rem;
}

.l_card-content #l_lesson-price {
    color: black;
    font-size: 1rem;
    font-weight: bold;
}

.l_card-bottom {
    display: flex;
    flex-direction: row;
}

.l_card-bottom #l_jim-count {
    color: lightgray;
    margin-right: 6%;
    font-size: 0.8rem;
}

.l_card-bottom #l_review-count {
    color: lightgray;
    font-size: 0.8rem;
}

/* 호버 시에 이미지 표시하기 */
.l_card:hover .l_card-img {
    transform: rotateY(180deg);
    /*opacity: 0; !* 앞 이미지 숨김 *!*/
}

.l_card:hover .l_card-back-img {
    opacity: 1; /* 뒤 이미지 표시 */
    visibility: visible;
    transform: rotateY(0deg);
}

.l_card-back-img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
    border-radius: 5px;
    position: absolute;
    backface-visibility: hidden;
    opacity: 0;
    visibility: hidden;
    transform: rotateY(-180deg);
}


.l_trainer_img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

/* 카드효과 */
.l_card {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.5s, transform 0.5s, box-shadow 0.3s;
    box-shadow: 0px 0px 10px rgb(255 255 255 / 59%);
}

.l_card.scroll-visible {
    opacity: 1;
    transform: translateY(0);
}

.l_card:hover {
    transform: translateY(-10px) translateX(-10px);
    box-shadow: 12px 12px 5px rgba(255, 255, 255, 0.2);
    z-index: 1;
}

.l_pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.l_pagination .pageNumber {
    margin: 0 2px;

}

.l_pagination ul {
    display: inline-flex;
}

.l_pagination .prev {
    margin-right: 10px;
}

.l_pagination .next {
    margin-left: 10px;
}

.l_pagination .next button,
.l_pagination .prev button {
    font-size: 16px;
    font-weight: 700;
    color: white;
    border: 0;
    background-color: transparent;
}

.l_pagination .prev button:hover {
    cursor: pointer;
    color: #A3DC10;

}

.l_pagination .next button:hover {
    cursor: pointer;
    color: #A3DC10;

}

.l_pagination .pageNumber button {
    width: 30px;
    height: 30px;
    font-size: 16px;
    font-weight: 700;
    border: 0;
    background-color: transparent;
    color: white;
}

.l_pagination .pageNumber button:hover {
    cursor: pointer;
    color: #A3DC10;

}

.l_pagination .pageNumber.active button,
.l_pagination .pageNumber.active a {
    color: #A3DC10;
}
