.lessonDetail_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    /*height: 100vh;*/
    gap: 4vh;
    margin: 5vh 9vw 5vw 9vw;
    /* display: flex; */
    background: white;
    /* flex-direction: row; */
    justify-content: center;
    /* align-items: center;*/
    min-height: 600px;
    min-width: 600px;
}

.lessonDetail_leftContainer {
    /*background: blue;*/
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    min-height: 300px;
    min-width: 300px;
    width: 100%;
    height: 100%;
    /* margin-right: 5vw; */
    /* flex: 1; */
    align-items: end;
    /* justify-content: center;*/

}


.lessonDetail_content {

    width: 100%;
    height: 100%;

}

.lessonDetail_img {

    width: 100%;
    height: 100%;
}


.lessonDetail_rightContainer {
    /*background: yellow;*/
    display: flex;
    width: 100%;
    height: 100%;
    /* position: relative; */
    border-top: 2px solid black;
    /* align-items: center; */
    flex-direction: column;
    /* flex: 1; */
    align-items: center;
    min-height: 300px;
    min-width: 300px;

}

.lessonDetail_trainerBox {
    /* background: red; */
    width: 96%;
    margin-top: 1vh;
    /* border-bottom: 1px solid #c7c7c7; */
    /* border-radius: 5px; */
    /* text-align: center; */
    /* justify-content: center; */
    display: flex;
    height: 22%;
    /* border-collapse: collapse; */
    /* align-items: center; */
    /* padding: 1vh;*/
}

.ld_trainerImg {
    border: black 1px solid;
    margin-right: 1vw;
    width: 20%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 80px;
    min-width: 80px;
}

.ld_trainerImg img {
    height: 100%;
    width: 100%;
}

.ld_trainerInfo {
    border: black 1px solid;
    width: 77%;
    flex-direction: column;
    display: flex;
    height: 100%;
    /* margin: 0.5vh; */
    justify-content: space-between;
    min-width: 300px;
    min-height: 80px;

}

.ld_trainerInfo #ld_trainerName {
    font-weight: bold;
    margin: 0 0 0 0;
    font-size: 1rem;
}

.ld_trainerInfo #ld_trainerInfo {
    margin: 0 0 1vh 0;
    font-size: 0.9rem;
}

.ld_trainer_detail_btn {
    width: 7vw;
    height: 4vh;
    /* margin-left: 1vh; */
    padding: 1px;
    /* margin-top: 0vh; */
    background: white;
    border: 0.5px solid gray;
    border-radius: 2px;
    cursor: pointer;
    transition: box-shadow 0.3s;
    font-size: 0.6rem;
    /* font-weight: bold; */
    color: gray;

}


.ld_trainer_detail_btn:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* 버튼에 호버 시 섀도우 추가 */
}


.lessonDetail_infoBox {
    width: 96%;
    margin: 4vh 0 4vh 0;
    border: 1px solid black;
    /* border-radius: 5px; */
    /* text-align: center; */
    justify-content: center;
    display: flex;
    height: 50%;
    /* border-collapse: collapse; */
    /* align-items: center; */
    /* padding: 1vh; */
    flex-direction: column;
}

.lessonDetail_infoBox #lesson_name {
    margin-bottom: 1%;
    font-weight: bold;
    font-size: 1.3rem;
}

.lessonDetail_infoBox #review_count {
    color: #b2afaf;
    margin-bottom: 5%;
    font-size: 0.7rem;
}

.lessonDetail_infoBox #lesson_price {
    font-size: 1.2rem;
    font-weight: bold;
}

.lessonDetail_btn_box {
    width: 96%;
    /* margin-top: 1vh; */
    border: 1px solid black;
    /* border-radius: 5px; */
    /* text-align: center; */
    /* justify-content: center; */
    display: flex;
    height: 10%;
    /* border-collapse: collapse; */
    align-items: center;
    /* padding: 1vh; */
    /* margin-bottom: 1vh; */
    justify-content: space-between;
    /* padding: 1vh;*/
}

.lessonDetail_btn_box button {
    height: 100%;
}

.ld-jim-btn {
    width: 10%;
}

.ld-chat-btn {
    width: 40%;
}

.ld-order-btn {
    width: 40%;

}


.lessonDetail_bottomContainer {
    /*background: aqua;*/
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    grid-column: span 2;
    /* width: 100vw; */
    margin-top: 2vh;
    /* height: 34vh;*/

}

.lessonDetail_bottomContainer p {
    font-weight: bold;
    font-size: 1rem;
}

.lessonDetail_bottomContainer #lesson_info {
    font-size: 0.9rem;
}
