
.lessonlist {
    margin-top: 80px;
}

/*============강좌 카드 섹션========*/

.lessonlist_title {
    font-family: "NanumSquareBold";
    margin: 20px;
}

#lessonlist_wrap {
    display: flex;
    justify-content: flex-start;
    /*flex-wrap: wrap;*/

}

.l_card {
    width: 20vw;
    height: 25vh;
    perspective: 1000px;
    margin: 1vw;
    max-width: 300px;
    max-height: 300px;
    min-width: 100px;
    min-height: 100px;

}

.l_card-inner {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.l_card:hover .l_card-inner {
    transform: rotateY(180deg);
}

.l_card-front,
.l_card-back {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transform-origin: center center;
}

.l_card-front {
    background: #ffffff;
    /*border:1px solid black;*/
}

.l_card-front-bottom {
    background: rgba(136, 134, 134, 0.34);
    position: absolute;
    bottom: 0; /* 아래쪽에 위치 */
    width: 100%; /* 너비를 100%로 설정 */
    height: 40%;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fff;
    align-items: center;
    display: flex;
    flex-direction: column;


}

.l_card-front-title {
    color: #0d1416;
    font-weight: bold;
    font-size: 1.1rem;
    margin: 0.5vh;
    margin-top: 2vh;
}

.l_card-front-trainer {
    color: #0d1416;
    font-weight: bold;
    font-size: 1rem;
}

.l_card-back {
    transform: rotateY(180deg);
    background-color: #ffffff;
    color: #333;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.lessonlist_img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/*============강좌 카드 섹션 끝========*/

