.myLike_border {
    min-width:50%;
    overflow-y: auto; /*스크롤*/
    min-height: 70vh;
    max-height: 70vh;
    border: 3px solid #dad8d8;
    border-radius:10px;
    padding: 30px;
    color: #0e1414;
    box-sizing:border-box;
  }

.myLike_search{
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    border: 1px solid #dad8d8;
    margin-bottom: 30px;
    padding: 10px;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
}

.myLike_search
 .myLike_search_input{
    width: 80%;
    height: 100%;
    border: none;
    outline: none;
    text-align: center;
    background: #fff;
    transition: 0.5s;
 }

.myLike_search
.myLike_search_input:focus {
   outline: none;
   text-align: left;
 }

.myLike_search_icon {
  width: 50px;
  height: 100%;
  border: none;
  background: #fff;
  outline: none;
  float: right;
}

.myLike_search_icon:hover {
    cursor:pointer;
}

/* 본문 */
.myLike_list_lesson{
  display: flex;
  padding: 10px;
}

/*한 행 사이즈*/
.myLike_list_lesson_img{ width:110px;}
.myLike_list_lesson_info{ flex: 1;}
.myLike_list_lesson_button{ flex: 1;}


.myLike_list_lesson{
  border-top: 1px solid #0e1414;
}

.myLike_list_lesson
.myLike_list_lesson_img img{
  display:flex;
  align-items:center;
  width:100px;
  height:100px;
  object-fit: cover;
  border-radius: 50%;
  background-color: #f9b332; /* 프로필 배경 오렌지색 */
}

.myLike_list_lesson_info{
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: flex-start;
  line-height: 25px;
}

.myLike_list_lesson_info
.myLike_list_lesson_title_category{
 display:flex;
}





.myLike_list_lesson_info
.myLike_list_lesson_title{
  font-size:20px;
  font-weight:bold;
}

.myLike_list_lesson_info
.myLike_list_lesson_category{
  font-size:18px;
  color:gray;
  font-style: italic;
}


.myLike_list_lesson_info
.myLike_list_trainer_name{
  font-size:14px;
  /*padding-left: 4px;*/
}

.myLike_list_lesson_button{
  display:flex;
  justify-content:right;
  align-items: center;
}

.myLike_list_lesson_button button{
  background:none;
  border:none;
  height:30px;
  transition: all 0.2s linear;
}

.myLike_list_lesson_button img{
   transition: all 0.2s linear;
}

.myLike_list_lesson_button img:hover {
  cursor:pointer;
  transform: scale(1.2);
}

.myLike_list_lesson_button button:hover{
  cursor:pointer;
  color:#f9b332;
}


