:root #order {
    --order-max-width: 64rem;
}

#order {
    color: rgb(228, 228, 228);
    font-size: 0.875rem;
}

#order *,
#order ::before,
#order ::after {
    box-sizing: border-box;
}

#order a {
    display: inline-block;
}

#order button {
    border: 0;
    padding: 0;
    background-color: initial;
    font-size: initial;
    cursor: pointer;
}

#order h2 {
    font-size: 2.5rem;
    margin-top: 0px;
    margin-bottom: 1rem;
}

#order h3 {
    font-size: 1.75rem;
    margin-top: 0px;
    margin-bottom: 1rem;
}

#order h4 {
    font-size: 1.375rem;
    margin-top: 0px;
    margin-bottom: 1rem;
}

#order input[type="text"].order_input_reset,
#order input[type="tel"].order_input_reset,
#order input[type="number"].order_input_reset {
    background-color: initial;
    border: none;
}

#order input[type="text"].order_input_reset:focus,
#order input[type="tel"].order_input_reset:focus,
#order input[type="number"].order_input_reset:focus {
    outline: initial;
}

#order > .order_inner {
    padding: 3rem 0;
    margin-top: 10vh;
}

#order > .order_inner > .order_inner2 {
    margin: 0 auto;
    max-width: var(--order-max-width);
}

#order > .order_inner > .order_inner2 > .order_inner3 {
    display: flex;
}

/*
버튼 1
 */
#order .order_button_1 {
    background-color: #c7f750;
    color: rgb(0 0 0);
    padding: 0.675rem 1.5rem;
    border-radius: 10px;
    transition-duration: 300ms;
    transition-property: background-color;
}

#order .order_button_1:hover {
    background-color: #a3dc10;
}

#order .order_button_1:active {
    background-color: #8ec408;
}

/*
버튼 2
 */
#order .order_button_2 {
    background-color: #ffe261;
    color: rgb(0 0 0);
    padding: 0.375rem 1rem;
    border-radius: 10px;
    transition-duration: 300ms;
    transition-property: background-color;
    font-size: 0.875rem;
}

#order .order_button_2:hover {
    background-color: #e9cb49;
}

#order .order_button_2:active {
    background-color: #d3b73b;
}

/*
라디오 버튼
 */
#order input.order_radiobox_1[type="radio"] {
    appearance: none;
    background-image: url("/images/icons/mdi/radiobox-blank.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

#order input.order_radiobox_1[type="radio"]:checked {
    background-image: url("/images/icons/mdi/radiobox-marked.svg");
}

/*
체크박스
 */
#order input.order_checkbox_1[type="checkbox"] {
    appearance: none;
    background-image: url("/images/icons/mdi/checkbox-blank-outline.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 20px;
    height: 20px;
}

#order input.order_checkbox_1[type="checkbox"]:checked {
    background-image: url("/images/icons/mdi/checkbox-outline.svg");
}

#order .order_input_container {
    background-color: #d3d3d3;
    height: 2.5rem;
    display: flex;
    align-items: center;
    border-radius: 12px;
}

#order .order_input_container > .order_input_icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 1rem;
    width: 3rem;
    height: 2.5rem;
}

#order .order_input_container > .order_input_icon_account {
    background-image: url("/images/icons/mdi/account-outline.svg");
}

#order .order_input_container > .order_input_icon_phone {
    background-image: url("/images/icons/mdi/phone-outline.svg");
}

#order .order_input_container > input.order_input_input {
    flex: 1;
    height: 100%;
}

#order .order_input_container > input.order_input_input:disabled {
    color: #575757;
    cursor: not-allowed;
}
