#orderList_wrap {
    color: initial;
}

#orderList_wrap a {
    color: initial;
}

#orderList_wrap *,
#orderList_wrap *::before,
#orderList_wrap *::after {
    box-sizing: border-box;
}

#orderList_wrap button {
    appearance: none;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    color: initial;
    font-size: initial;
}

#orderList_wrap ._js_button_20230904_1 {
    background-color: #e7e7e7;
    border-radius: 6px;
    padding: 0.25rem 0.75rem;
    transition: ease-in-out;
    transition-property: background-color;
    transition-duration: 300ms;
}

#orderList_wrap ._js_button_20230904_1:hover {
    background-color: #d1d1d1;
}

#orderList_wrap ._js_button_20230904_1:active {
    background-color: #bbbbbb;
}

#orderList_wrap .orderList_top_bar {
    margin-bottom: 1rem;
    display: flex;
    gap: 0.5rem;
}

#orderList_wrap .orderList_top_bar .orderList_top_bar_item {
    display: flex;
    flex-direction: column;
}

#orderList_wrap
    .orderList_top_bar
    .orderList_top_bar_item
    .orderList_top_bar_label_text {
    font-size: 0.75rem;
}

#orderList_wrap .orderList_top_bar .orderList_top_bar_item input[type="date"] {
    width: 7rem;
}

#orderList_wrap .orderList_top_bar .orderList_top_bar_item input[name] {
    height: 100%;
}

/* #orderList_wrap .orderList_top_bar input[name="startDate"]::before {
    width: 100%;
    content: attr(placeholder);
} */

#orderList_wrap .orderList_empty_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem 0;
}

#orderList_wrap .orderList_empty_container .orderList_empty_description {
    font-size: 1.5rem;
    font-weight: 700;
}

#orderList_wrap .orderList_list_container {
    margin-bottom: 1rem;
}

#orderList_wrap
    .orderList_list_container
    .orderList_list_item
    .orderList_list_item_top_bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

#orderList_wrap
    .orderList_list_container
    .orderList_list_item
    .orderList_list_item_top_bar
    .orderList_list_item_payment_date {
    font-weight: 700;
    font-size: 2rem;
}

#orderList_wrap
    .orderList_list_container
    .orderList_list_item
    .orderList_list_item_top_bar
    .orderList_list_item_order_no {
    color: rgb(100, 100, 100);
    font-size: 0.875rem;
    margin-left: 0.5rem;
}

#orderList_wrap
    .orderList_list_container
    .orderList_list_item
    .orderList_list_item_top_bar_right {
    display: flex;
}

#orderList_wrap
    .orderList_list_container
    .orderList_list_item
    .orderList_list_item_total_price_box {
    align-self: center;
}

#orderList_wrap
    .orderList_list_container
    .orderList_list_item
    .orderList_list_item_total_price_box
    .orderList_list_item_total_price {
    font-size: 1.5rem;
}

#orderList_wrap .orderList_top_bar .orderList_top_bar_button {
    flex-basis: 1.5rem;
    align-self: end;
    line-height: 0;
}

#orderList_wrap .orderList_order_detail_items .orderList_order_detail_item {
    display: flex;
    margin-bottom: 0.75rem;
}

#orderList_wrap
    .orderList_order_detail_items
    .orderList_order_detail_item:last-child {
    margin-bottom: 0;
}

#orderList_wrap
    .orderList_order_detail_items
    .orderList_order_detail_item
    .orderList_order_detail_trainer_image_box {
    margin-right: 1.75rem;
    line-height: 0;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 16px;
}

#orderList_wrap
    .orderList_order_detail_items
    .orderList_order_detail_item
    .orderList_order_detail_trainer_image_box
    .orderList_order_detail_trainer_image {
    object-fit: cover;
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

#orderList_wrap
    .orderList_order_detail_items
    .orderList_order_detail_item
    .orderList_order_detail_trainer_image_box:hover
    .orderList_order_detail_trainer_image {
    transform: scale(1.1);
}

#orderList_wrap
    .orderList_order_detail_items
    .orderList_order_detail_item
    .orderList_order_detail_center_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

#orderList_wrap
    .orderList_order_detail_items
    .orderList_order_detail_item
    .orderList_order_detail_center_box
    .orderList_order_detail_title {
    font-size: 1.5rem;
    width: fit-content;
    transition-duration: 300ms;
}

#orderList_wrap
    .orderList_order_detail_items
    .orderList_order_detail_item
    .orderList_order_detail_center_box
    .orderList_order_detail_title:hover {
    opacity: 0.7;
}

#orderList_wrap
    .orderList_order_detail_items
    .orderList_order_detail_item
    .orderList_order_detail_center_box
    .orderList_order_detail_center_bottom {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

#orderList_wrap
    .orderList_order_detail_items
    .orderList_order_detail_item
    .orderList_order_detail_price {
    font-size: 1.25rem;
}

#orderList_wrap
    .orderList_order_detail_items
    .orderList_order_detail_item
    .orderList_order_detail_right {
    align-self: center;
    justify-self: center;
    flex-basis: 8rem;
    text-align: center;
}

#orderList_wrap
    .orderList_order_detail_items
    .orderList_order_detail_item
    .orderList_order_detail_right.orderList_order_detail_right_1_box {
    font-size: 1.25rem;
}

#orderList_wrap .orderList_pagination_container {
}

#orderList_wrap .orderList_pagination_container .orderList_pagination_ul {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: auto;
}

#orderList_wrap
    .orderList_pagination_container
    .orderList_pagination_ul
    > .orderList_pagination_li {
    width: 1.75rem;
    height: 1.75rem;
    line-height: 0;
    background-color: rgb(230, 230, 230);
    border-radius: 6px;
    transition: ease-in-out 300ms;
    transition-property: background-color;
}

#orderList_wrap
    .orderList_pagination_container
    .orderList_pagination_ul
    > .orderList_pagination_li:hover,
#orderList_wrap
    .orderList_pagination_container
    .orderList_pagination_ul
    > .orderList_pagination_li.orderList_pagination_li_on:hover {
    background-color: #a3dc10;
}

#orderList_wrap
    .orderList_pagination_container
    .orderList_pagination_ul
    > .orderList_pagination_li:active,
#orderList_wrap
    .orderList_pagination_container
    .orderList_pagination_ul
    > .orderList_pagination_li.orderList_pagination_li_on:active {
    background-color: #8ec408;
}

#orderList_wrap
    .orderList_pagination_container
    .orderList_pagination_ul
    > .orderList_pagination_li
    > .orderList_pagination_li_button {
    width: 100%;
    height: 100%;
}

#orderList_wrap
    .orderList_pagination_container
    .orderList_pagination_ul
    > .orderList_pagination_li.orderList_pagination_li_on {
    background-color: #c7f750;
}

#orderList_wrap
    .orderList_pagination_container
    .orderList_pagination_ul
    > .orderList_pagination_li
    > .orderList_pagination_li_button_lr {
    padding: 0.125rem;
}

#orderList_wrap
    .orderList_pagination_container
    .orderList_pagination_ul
    > .orderList_pagination_li_page {
}
