@import url("https://fonts.googleapis.com/css?family=Open+Sans");

/*============사이드바 페이지===========*/
/* 사이드바 페이지에서 다른 헤더 적용 */

/* 전체 div */
.side_main_page {
    background-color: #0e1414;
    color: #C9D3D4;
    display: flex;
    align-items: flex-start;
    height: 100%;
    padding: 5vh 80px;
}

.site_banner {
    /* background-color: silver; */
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.site_banner_title {
    font-family: 'Staatliches', cursive;
    text-transform: uppercase;
    font-size: 68pt;
    color: #0e181a;
    letter-spacing: 15px;
    height: 40%;
    /* background: white; */
}

.site_banner_title p {
    margin: 0;
    border: 5px solid;
    padding: 0px 80px;
    box-shadow: 10px 10px 30px 1px #535151;
    background-color: rgba(223, 223, 223, 0.22);
    background: white;
}

/*.site_banner.health-banner {*/
/*    background: url("/images/banner-health.jpg") center center / cover no-repeat;*/
/*    filter: grayscale(100%);*/
/*}*/

/*.site_banner.yoga-banner {*/
/*    background: url("/images/banner-yoga.jpg") center center / cover no-repeat;*/
/*    filter: grayscale(100%);*/
/*}*/

/*.site_banner.pilates-banner {*/
/*    background: url("/images/banner-pilates.jpg") center center / cover no-repeat;*/
/*}*/


/*== 사이드바 ==*/
.sidebar {
    /*side_main_page 색으로 조정
      background-color: #0e181a;*//* width: 300px; */
    min-height: 100vh;
    min-width: 300px;
    flex: 1; /* width: 21%; *//* background: antiquewhite; */
}

/*== 본문 ==*/
.side_page {
    /*side_main_page 색으로 조정
      background-color: #0e181a;*/
    min-height: 100vh;
    flex: 4; /* background: white; */
    margin-right: 80px;
}

/*==사이드바 로고==*/
.side_logo {
    display: flex;
    justify-content: center;
    margin: 80px 10px 100px 10px;
}

/*==사이드바 메뉴 div==*/
.side_menu {
    width: 78%;
    padding: 0px 30px;
    /* text-align: right; */
    line-height: 20px;
    /* box-sizing: border-box; */
    /* margin-top: 0%; */
    width: 9%;
    /* background: aliceblue; */
    /* justify-content: flex-end; */
    display: flex;
    margin-left: 80px;
    position: fixed;
    /* align-items: flex-start; */
    min-width: 185px;
    /* border: 3px solid white; */
    /* border-radius: 5px 0px 0px 5px; */
}

.side_menu ul li.active::after {
    content: "";
    float: right;
    height: 2px;
    background: black;
    width: 100%;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to right, #dfdfdf, #FFE400);
}

/*사이드바 타이틀명*/
.side_title {
    /*background-color: white;*/
    border-radius: 5px;
    /* text-align : right; */
    font-size: 18pt;
    /* padding: 30px 0px; */
    font-weight: 900;
    letter-spacing: 3px;
}

.side_items {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    width: 64%;
    margin-top: -10%;
}

/*사이드바 소제목명*/
.side-content {
    position: relative;
    margin: 2px 0;
}

.side_menu ul li a {
    font-size: 16px;
    line-height: 4em;
    text-decoration: none;
    letter-spacing: 5px;
    color: #C9D3D4;
    display: block;
    transition: all ease-out 300ms;
    font-family: "Open+Sans";
}

.side_menu ul li:hover a {
    color: #a3dc10;
    /*opacity: 0.5;*/
}

.side_menu ul li::after {
    content: "";
    float: left;
    height: 2px;
    background: black;
    width: 0;
    right: 0;
    bottom: 0;
    transition: width 0.3s ease;
}

.side_menu ul li:hover:after {
    width: 100%;
    background-image: linear-gradient(to right, #dfdfdf, #FFE400);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}


/*============헬스 사이드바==========*/

.side_menu_health {
    width: 78%;
    /* padding: 0px 30px; */
    /* text-align: right; */
    line-height: 20px;
    /* box-sizing: border-box; */
    margin-top: 10%;
    /* width:80%; */
    /* background: aliceblue; */
    /* justify-content: flex-end; */
    display: flex;
    margin-left: 80px;
}

.side_menu_health ul li a {
    font-size: 16px;
    line-height: 4em;
    text-decoration: none;
    letter-spacing: 5px;
    color: #C9D3D4;
    display: block;
    transition: all ease-out 300ms;
    font-family: "Open+Sans";
}

.side_menu_health ul li:hover a {
    color: #a3dc10;
    /*opacity: 0.5;*/
}

.side_menu_health ul li:nth-child(2)::after {
    content: "";
    float: right;
    height: 2px;
    background: black;
    width: 100%;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to right, #dfdfdf, #FFE400);
}

.side_menu_health ul li:not(:nth-child(2))::after {
    content: "";
    float: left;
    height: 2px;
    background: black;
    width: 0;
    right: 0;
    bottom: 0;
    transition: width 0.3s ease;
}

.side_menu_health ul li:hover:after {
    width: 100%;
    background-image: linear-gradient(to right, #dfdfdf, #FFE400);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

/*============요가 사이드바==========*/

.side_menu_yoga {
    width: 78%;
    /* padding: 0px 30px; */
    /* text-align: right; */
    line-height: 20px;
    /* box-sizing: border-box; */
    margin-top: 10%;
    /* width:80%; */
    /* background: aliceblue; */
    /* justify-content: flex-end; */
    display: flex;
    margin-left: 80px;
}

.side_menu_yoga ul li a {
    font-size: 16px;
    line-height: 4em;
    text-decoration: none;
    letter-spacing: 5px;
    color: #C9D3D4;
    display: block;
    transition: all ease-out 300ms;
    font-family: "Open+Sans";
}

.side_menu_yoga ul li:hover a {
    color: #a3dc10;
    /*opacity: 0.5;*/
}

.side_menu_yoga ul li:nth-child(3)::after {
    content: "";
    float: right;
    height: 2px;
    background: black;
    width: 100%;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to right, #dfdfdf, #FFE400);
}

.side_menu_yoga ul li:not(:nth-child(3))::after {
    content: "";
    float: left;
    height: 2px;
    background: black;
    width: 0;
    right: 0;
    bottom: 0;
    transition: width 0.3s ease;
}

.side_menu_yoga ul li:hover:after {
    width: 100%;
    background-image: linear-gradient(to right, #dfdfdf, #FFE400);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

/*============필라테스 사이드바==========*/

.side_menu_pilates {
    width: 78%;
    /* padding: 0px 30px; */
    /* text-align: right; */
    line-height: 20px;
    /* box-sizing: border-box; */
    margin-top: 10%;
    /* width:80%; */
    /* background: aliceblue; */
    /* justify-content: flex-end; */
    display: flex;
    margin-left: 80px;
}

.side_menu_pilates ul li a {
    font-size: 16px;
    line-height: 4em;
    text-decoration: none;
    letter-spacing: 5px;
    color: #C9D3D4;
    display: block;
    transition: all ease-out 300ms;
    font-family: "Open+Sans";
}

.side_menu_pilates ul li:hover a {
    color: #a3dc10;
    /*opacity: 0.5;*/
}

.side_menu_pilates ul li:nth-child(4)::after {
    content: "";
    float: right;
    height: 2px;
    background: black;
    width: 100%;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to right, #dfdfdf, #FFE400);
}

.side_menu_pilates ul li:not(:nth-child(4))::after {
    content: "";
    float: left;
    height: 2px;
    background: black;
    width: 0;
    right: 0;
    bottom: 0;
    transition: width 0.3s ease;
}

.side_menu_pilates ul li:hover:after {
    width: 100%;
    background-image: linear-gradient(to right, #dfdfdf, #FFE400);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

/*============사이드바 끝===========*/

