/*============사이드바 페이지===========*/
.sidebar {
    background-color: rgba(85, 87, 85, 0.8);
    /*position: absolute;*/
    margin-top: 5vh;
    width: 300px;
    height: 100%;
}

/*==사이드바 로고==*/
.side_logo {
    display: flex;
    justify-content: center;
    margin: 50px 0px;

}

/*==사이드바 메뉴 div==*/
.side_menu {
    flex: 1;
    margin-right: 60px;
    text-align: left;
    color: #a3dc10;
    line-height: 50px;

}

/*사이드바 타이틀명*/
.side_title {
    width: 100%;
    /*background-color: white;*/
    border-radius: 5px;
    font-size: 18pt;
    padding: 5px 10px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    /*font-weight: bold;*/

}

.side_items {
    display: flex;
    flex-direction: column;

}

/*사이드바 소제목명*/
.side-content {
    font-size: 14pt;
    font-weight: 20;
    line-height: 40px;

}


.side_menu a {
    text-decoration: none;
    color: #cccccc;

}

/* 전체 div */
.main_page {
    display: flex;
    align-items: baseline;
    margin-top: 10px;
}

/*==========*/

/*== 본문 ==*/
.page {
    flex: 3;
    background: yellow;
}

/*============사이드바 끝===========*/


/*============강좌 카드 섹션========*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#wrap {
    display: flex;
    flex-direction: row; /* 가로로 배치 */
    justify-content: space-between; /* 카드 간 간격 조절 */
    align-items: center; /* 세로 정렬 */
    position: relative;
    width: 200px;
    height: 400px;
    margin: 50px auto;
    border-radius: 20px;
    perspective: 500px;
    cursor: pointer;
    flex-wrap: wrap;
    gap: 20px;
}


#wrap .card {
    display: inline-flex;
    width: 100px;
    height: 200px;
    transition: all .5s;
    transform-style: preserve-3d;
    flex: 0 1 calc(33.33% - 20px); /* 카드 너비를 3분의 1로 설정 */
    max-width: 300px; /* 최대 너비 설정 */
    border: 1px solid #ccc;
    padding: 20px;
}


/* 반응형 미디어 쿼리 */
@media (max-width: 768px) {
    .card {
        flex: 0 1 calc(50% - 20px); /* 카드 너비를 2분의 1로 설정 */
    }
}

@media (max-width: 480px) {
    .card {
        flex: 1 0 100%; /* 카드 너비를 100%로 설정하여 아래로 내려감 */
        max-width: none;
    }
}

#wrap:hover .card {
    transform: rotateY(180deg);
}

#wrap .card > div {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 20px;
    border-radius: 20px;
    backface-visibility: hidden;
}

#wrap .card .card-front {
    background-color: #f54;
    z-index: 10;
}

#wrap .card .card-back {
    background-color: #ccc;
    z-index: 5;
    transform: rotateY(180deg);
}

.lesson_img {
    width: 100px;
    height: 100px;
}

/*============강좌 카드 섹션 끝========*/
