body{
background:#f0f0f0;
}

.trainerList_all_content_detail_banner{
min-height: 200px;
margin: 10vh;
display:flex;
justify-content:center;
align-items:center;
font-size:100px;
font-weight:600;
min-width: 900px;
max-width: 1000px;
}


/*배너 끝*/

.trainerList_search {
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    border: 2px solid #dad8d8;
    margin-bottom: 30px;
    padding: 10px;
    height: 50px;
    width: 70%;
    box-sizing: border-box;
    position: relative;
}

.trainerList_search
.trainerList_search_input {
    width: 90%;
    position: absolute;
    top: 0px;
    height: 100%;
    border: none;
    outline: none;
    text-align: center;
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.0);

}

.trainerList_search
.trainerList_search_input:focus {
    outline: none;
    text-align: left;
    left: 20px;
    transition: 1s;
}

.trainerList_search_icon {
    width: 50px;
    height: 100%;
    position: absolute;
    left: 90%;
    top: 0px;
    border: none;
    background: #fff;
    outline: none;
    float: right;
    background-color: rgba(255, 255, 255, 0.0);
}

.trainerList_search_icon:hover {
    cursor: pointer;
}

  .trainerList_search_result {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-in-out;
  }

  .trainerList_search_result.show {
    margin : 30px 0px;
    min-height: 300px;
    max-height: 1000px; /* 적절한 크기로 조절하세요. */
  }


/*카드 슬라이더*/
.trainerList_all_content_detail_container {
    display: flex;
    flex-direction: column;
    height: 100%;
	min-height: 70vh;
    align-items: center;
    /*
	justify-content: center;
	align-items: center;
	*//*width: 300%;*//*
	margin: 0;
	background-color: #f0f0f0;
	  overflow: hidden;
      white-space: nowrap;*/
}

.trainerList_all_content_detail_rolling{
    width: 100%;
    color: black;
    margin: 0;
    	background-color: #f0f0f0;
}

.trainerList_all_content_detail_rolling > .trainerList_all_content_detail_wrap{
    position: relative;
    width: 90%;
    height: 360px;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
}

.trainerList_all_content_detail_wrap::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 100%;
  z-index: 1;
  background: linear-gradient(
    to right,
    #f0f0f0 0%,
    #f0f0f0bf 51%,
    rgba(170, 0, 0, 0) 100%
  );
}

.trainerList_all_content_detail_wrap::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 100%;
  z-index: 1;
  background: linear-gradient(
    to left,
    #f0f0f0 0%,
    #f0f0f0bf 51%,
    rgba(170, 0, 0, 0) 100%
  );
}

.trainerList_all_content_detail_roller{
    position: absolute;
    height: 100%;
}

.trainerList_all_content_detail_roller > ul{
    margin: 0;
    list-style: none;
    padding: 9px 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}




.trainerList_all_content_detail_card {
	 display: inline-block;
	padding: 20px;
	gap: 20px;
	width: 250px;
	margin: 1em;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 0 5em rgba(0, 0, 0, 0.1);
}


.trainerList_all_content_detail_card_photo {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	border-radius: 0.5em;
	height: 15rem;
	width: 100%;
	box-shadow: 0.3rem 0.3rem 1rem #0007;
	transition: transform 0.3s ease-out;
}
.trainerList_all_content_detail_card_photo:hover {
	transform: rotate(4deg);
}


/*흑백 - 너무 안예쁨*/
.trainerList_all_content_detail_card_photo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: grayscale(1);
	transition: filter 0.5s ease-out;
}

.trainerList_all_content_detail_card_photo:hover img {
	filter: grayscale(0);
}


.trainerList_all_item_text{
text-align:center;
font-weight: 14px;
font-weight: 300;
color: #0e1414;
margin-top : 20px;
letter-spacing: 10px;
}


/* 하단 아이콘 색*/
#followingHeart{
/*#ff0000*/
filter: invert(19%) sepia(77%) saturate(7449%) hue-rotate(0deg) brightness(99%) contrast(122%);
}

#memberCount{
filter: invert(74%) sepia(81%) saturate(465%) hue-rotate(24deg) brightness(102%) contrast(86%);
}
