.dsh-main-container {
    width: 100%;
    height: 80vh;
    /* position: relative; */
    display: flex;
    min-height: 800px;
    background: linear-gradient(45deg, #98cbff54, #c197ef2b);
    min-width: 697px;
    border-radius: 5px;
}

.dsh-left-container {
    width: 66.7%;
    height: 100%;
}

.dsh-left-first-row {
    height: 20%;
    overflow: hidden;

}

.dsh-profile-box {
    height: 50%;
    padding: 5%;
    position: relative;
    display: flex;
}

.dsh-profile-pic-wrapper {
    width: 100px;
    height: 100px;
}

.dsh-profile-pic-wrapper img {
    width: 100%;
    height: 100%;
}


.dsh-profile-update-btn {
    right: 0;
    position: absolute;
    margin-right: 3%;
    padding: 10px 10px;
    background-color: #a3dc10;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    width: 100px;
    font-weight: bold;
    transition: background-color 0.3s; /* Add transition for background */
    /*opacity: 0.8;*/
    align-items: center;
}

.dsh-profile-update-btn:hover {
    background-color: rgba(163, 220, 16, 0.6);
}

.dsh-profile-update-btn:active {
    background-color: rgba(163, 220, 16, 0.8);
}

.dsh-profile-text {
    display: flex;
    flex-direction: column;
    width: 70%;
    overflow: hidden;
}

.dsh-profile-id {
    font-size: 1.4rem;
    margin: 0 10%;
    width: 89%;
    color: black;
}

.dsh-profile-info {
    font-size: 0.9rem;
    margin: 3% 10%;
    width: 89%;
    color: #575757;
}

.dsh-left-second-row {
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: row;
    height: 16%;
    justify-content: space-around;
    align-items: center;
}

.dsh-second-row-card {
    width: 30%;
    height: 83%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    /* border: 1px solid #b6b6b6; */
    overflow: hidden;
    justify-content: space-around;
    background: linear-gradient(45deg, #ffffffa6, #ffffff3d);
    box-shadow: gray;
}

.dsh-card-title {
    color: black;
    font-size: 0.7rem;
    margin: 6% 8%;
    font-weight: bold;
}

.dsh-card-content {
    color: gray;
    font-size: 0.8rem;
    font-weight: bold;
    margin: 6% 0 0 66%;
}

.dsh-left-third-row {
    /*border: 1px solid black;*/
    margin-top: 5%;
    height: 20%;
}

.dsh-lesson-info {
    height: 100%;
    background: linear-gradient(45deg, #ffffffa6, #ffffff3d);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid gray; */
    border-radius: 5px;
    margin: 0 2%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dsh-class-content {
    width: 75%;
    margin: 2%;
    display: flex;
    flex-direction: column;
}

.dsh-lesson-title {
    margin: 2% 3% 0 3%;
    font-size: 0.9rem;
    font-weight: bold;
    color: black;
}

.dsh-lesson-text {
    margin: 0 3%;
    font-size: 0.8rem;
    /* font-weight: bold; */
    color: #494747;
}

.dsh-lesson-pic-wrapper {
    width: 22%;
    margin: 2%;
}

.dsh-lesson-img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.dsh-left-fourth-row {
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 32%;
    margin-top: 8%;

}

.dsh-message-box {
    /* border: 1px solid gray; */
    border-radius: 5px;
    width: 45%;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: linear-gradient(45deg, #ffffffa6, #ffffff3d);
}

.dsh-message-header {

    height: 11%;
    margin: 2% 5%;
    align-items: center;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;

}

.dsh-message-header-title {
    color: black;
    font-weight: bold;
    font-size: 0.9rem;
}

.dsh-message-wrapper {
    height: 85%;
    margin: 3% 5%;
    overflow: scroll;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.dsh-mychatroom_list_trainer_button img {
    cursor: pointer;
}

.dsh-message-content {
    display: flex;
    flex-direction: column;
}

.message-text {
    margin: 0;
    font-size: 0.8rem;
    color: black;
    font-weight: bold;
}

.message-subtext {
    margin-top: 2%;
    font-size: 0.7rem;
}

.dsh-review-box {
    /* border: 1px solid gray; */
    border-radius: 5px;
    width: 45%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, #ffffffa6, #ffffff3d);
}

.dsh-review-header {
    height: 11%;
    margin: 2% 5%;
    align-items: center;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
}

.dsh-review-header-title {
    color: black;
    font-weight: bold;
    font-size: 0.9rem;
}

.dsh-review-wrapper {
    /* height: 100%; */
    margin: 3% 5%;
    overflow: scroll;
}

.dsh-review-content {
    display: flex;
    flex-direction: column;
}

.dsh-review-title {
    margin: 0;
    font-size: 0.8rem;
    color: black;
    font-weight: bold;
}

.dsh-review-subtext {
    margin-top: 2%;
    font-size: 0.7rem;
}

.dsh-right-container {
    width: 33.3%;
}

.dsh-lessons-box {
    /* border: 1px solid black; */
    margin: 9% 5%;
    height: 94.5%;
    border-radius: 5px;
    background: linear-gradient(45deg, #ffffffa6, #ffffff3d);
}

.dsh-lessons-header {
    justify-content: center;
    display: flex;
    border-bottom: 1px solid lightgray;
    margin: 0 10%;
}

.dsh-lessons-title {
    font-size: 0.9rem;
    color: black;
    font-weight: bold;
}

.dsh-lessons-list {
    display: flex;
    flex-direction: column;
    height: 90.5%;
    /*overflow: scroll;*/
    /* background: linear-gradient(45deg, #ffffffa6, #ffffff3d); */
}

.dsh-lesson {
    margin: 2% 7%;
    display: flex;
    padding: 2% 5%;
    justify-content: space-between;
}

.dsh-lessons-list-id {
    font-size: 0.8rem;
    color: black;
}

.dsh-lessons-list-name {
    font-size: 0.8rem;
    color: black;

}
