
/*트레이너 전환 버튼 HEAD*/
.myinfo_converTrainer_top{
display:flex;
justify-content:right;
min-height:70px;
}

/*.myinfo_converTrainer_button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}*/
.myinfo_converTrainer_button a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}
.myinfo_converTrainer_button a span {
    padding: 15px;
    transition: .5s;
    position: relative;
}
.myinfo_converTrainer_button a span:nth-child(1) {
    color: #fff;
    background: #262626;
}
.myinfo_converTrainer_button a span:nth-child(2) {
    color: #fff;
    background: #e9a9a5;
}
.myinfo_converTrainer_button a span:nth-child(1):before {
    content: attr(data-attr);
    position: absolute;
    top: 0;
    left: 0;
    background: #e9a9a5;
    padding: 15px;
    transition: 0.5S;
    transform-origin: top;
    transform: rotateX(90deg) translateY(-50%);
}
.myinfo_converTrainer_button a:hover span:nth-child(1):before {
    transform: rotateX(0deg) translateY(0%);
}
.myinfo_converTrainer_button a span:nth-child(2):before {
    content: attr(data-attr);
    position: absolute;
    top: 0;
    left: 0;
    background: #262626;
    padding: 15px;
    transition: 0.5S;
    transform-origin: bottom;
    transform: rotateX(90deg) translateY(50%);
}
.myinfo_converTrainer_button a:hover span:nth-child(2):before {
    transform: rotateX(0deg) translateY(0%);
}
.myinfo_converTrainer_button a  span:nth-child(1):after {
  content: attr(data-attr);
  padding: 15px;
  position: absolute;
  top: 0;
  left: 0;
  background: #262626;
  transform-origin: bottom;
  transform: rotateX(0deg) translateY(0%);
  transition: 0.5s;
}
.myinfo_converTrainer_button a:hover span:nth-child(1):after {
  transform: rotateX(90deg) translateY(50%);
}
.myinfo_converTrainer_button a span:nth-child(2):after {
    content: attr(data-attr);
    position: absolute;
    top: 0;
    left: 0;
    background: #e9a9a5;
    padding: 15px;
    transition: 0.5S;
    transform-origin: top;
    transform: rotateX(0deg) translateY(0%);
}
.myinfo_converTrainer_button a:hover span:nth-child(2):after {
    transform: rotateX(90deg) translateY(-50%);
}


/*트레이너 전환 버튼 END*/

.form_wrap input[type="button"],
.form_wrap button{
    cursor: pointer;
}
/* 외곽 테두리 */
.join_border{
    border: 4px solid #0e1414;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 10vh;
    box-sizing: border-box;
    padding: 5vh 0 5vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 6px rgb(0 0 0 / 0.3);
}

.form_wrap{
    display: flex;
    flex-direction: column;
    width: 600px;
    align-items:center;
}

/* logo */
.join_logo{
    display: flex;
    justify-content: center;
}
.join_logo_img{
    height: 100px;
    width: 180px;
    text-align: left;
}

/* 각 입력 폼 div */
.input_wrap{
    width: 100%;
    height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* 입력폼 안의 input */
.input_wrap input {
    height: 40px;
    border-radius: 6px;
    width: 365px;
    font-size: 16px;
    box-sizing: border-box;
    padding-left: 20px;
    border: 1px solid #0e1414;
}

.input_wrap input::placeholder,
.input_address_wrap input::placeholder{
    font-size: 14px;
}
.form_wrap span{
    color: #0e1414;
    font-size: 15px;
}

/* 주소 입력폼 */
.input_address_wrap{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* 주소 입력폼 안의 input */

.input_address_wrap input{
    height: 40px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 13px;
    box-sizing: border-box;
    padding-left: 20px;
     border: 1px solid #0e1414;
}
.input_address_wrap input[type=button]{
    width: 150px;
    text-align: center;
    padding: 0;
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
}

/* 주소 api 사용 input */
#sample6_postcode{
    width: 200px;
}
#sample6_address{
    width: 365px;
}
#sample6_detailAddress{
    width: 600px;
}
#sample6_extraAddress{
    width: 220px;
    padding:0;
    text-align: center;
    margin-left: 10px;
}

/* email wrap */
/* 위에서 합침 form_wrap span
.input_email_wrap span, .input_address_wrap span{
    color: #0e1414;
    font-size: 18px;
}
*/

.input_email_wrap{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 80px;
}

.input_email_wrap input{
    height: 40px;
    border-radius: 5px;
    font-size: 15px;
    box-sizing: border-box;
    padding-left: 20px;
     border: 1px solid #0e1414;
    color: black;
}

#email01{
    width: 180px;
    margin-right: 8px;
}

#email02{
    width: 180px;
    text-align: center;
    padding: 0;
    margin-right: 10px;
    margin-left: 8px;
}
#select{
    width: 180px;
    height: 40px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 15px;
    box-sizing: border-box;
    border: none;
    text-align: center;
}
#checkEmail{
    width: 130px;
    margin-right: 10px;
}

.join_btn_wrap{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.join_btn_wrap button{
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    text-align: center;
    border: none;
    font-weight: bold;
}

.join_btn1{
    width: 150px;
    margin: 0px 10px;
}
.join_btn2{
    width: 150px;
    margin: 0px 10px;
}

#id_check_message, #pw_check_message, #checkpw_check_message, #mail-check-warn{
    font-size:14px;
    padding-left: 10px;
}
