<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{content/lessonlist}"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<th:block layout:fragment="title">
    <title>클래스리스트 > 헬스</title>
</th:block>

<!-- 해당 페이지를 호출하면 콘텐츠 영역에 해당 페이지가 출력 -->
<th:block layout:fragment="lesson">
    <div class="page-banner"> <!--카드 위 영역-->
        <div class="page-banner-img"></div>
        <div class="card-header"><h1> 카드 위 문구 영역</h1></div>
        <div class="cards">
            <div direction="row" width="calc(100% / 3 - 16px + 5px)" class="cards-row">
                <div class="card-wrap">
                    <div class="card-list">
                        <img src="image.jpg" alt="cover_img">
                        <div class="card-hover">
                            <div class="card-hover-bg"></div>
                            <div class="card-category"><span th:text="${category}"></span></div>
                            <div class="card-title"><span th:text="${title}></span></div>
                            <div class="card-trainer"><span th:text="${trainer_name}"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>
