<!-- 레슨 카테고리로 헬스, 요가, 필라테스 강좌 화면 가져오기 (lesson/health, yoga, pilates로 나누지 않기 위함)-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{content/lessonlist}"
      xmlns:layout="http://www.w3.org/1999/xhtml">


<!-- 해당 페이지를 호출하면 콘텐츠 영역에 해당 페이지가 출력 -->
<th:block layout:fragment="lesson">
    <div class="l_lessonlist">
        <div id="l_lessonlist_wrap">
            <div th:each="lesson : ${lessonList}"
                 th:if="${#request.getParameter('category') == null or
                          #request.getParameter('category') == '1' and lesson.category == 1 or
                          #request.getParameter('category') == '2' and lesson.category == 2 or
                          #request.getParameter('category') == '3' and lesson.category == 3}"
                 class="l_card">
                <a th:href="@{/lessonDetail/{lessonNo}(lessonNo=${lesson.getNo()})}" class="card-link">

                    <div class="l_card-container">
                        <div class="l_card-img-wrapper">
                            <div class="l_card-img">
                                <img class="l_lessonlist_img" th:src="${lesson.lesson_img}" alt="lesson image">
                            </div>
                        </div>
                        <div class="l_card-content">
                                <span id="l_trainer-name"
                                      th:text="${lesson.trainer != null ? lesson.trainer.trainerName : 'Unknown Trainer'}"></span>
                            <span id="l_lesson-title" th:text="${lesson.title}"></span>
                            <span id="l_lesson-price" th:text="${lesson.price}+원"></span>

                            <div class="l_card-bottom">
                                <span id="l_jim-count">하트 3개</span>
                                <span id="l_review-count">리뷰 100개</span>
                            </div>
                        </div>

                    </div>

                    <!--                    <div class="l_card">-->
                    <!--                        <div class="l_card-inner">-->
                    <!--                            <div class="l_card-front">-->

                    <!--                                <img class="lessonlist_img" th:src="${lesson.lesson_img}" alt="lesson image">-->

                    <!--                                <div class="l_card-front-bottom">-->
                    <!--                                    <div class="l_card-front-title"><span th:text="${lesson.title}"></span></div>-->
                    <!--                                    <div class="l_card-front-trainer">-->
                    <!--                                <span-->
                    <!--                                    th:text="${lesson.trainer != null ? lesson.trainer.trainerName : 'Unknown Trainer'}"></span>-->
                    <!--                                    </div>-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                            <div class="l_card-back">-->
                    <!--                                <ul>-->
                    <!--                                    <li class="l_card_title" th:text="${lesson.lesson_info}"></li>-->
                    <!--                                </ul>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                </a>
            </div>

        </div>
    </div>
    <script th:src="@{/js/lessonCategory.js}"></script>

</th:block>
</html>
