<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/body}"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<th:block layout:fragment="add-css">
    <link rel="stylesheet" th:href="@{/css/enterroom.css}">
    <link rel="stylesheet" th:href="@{/css/common/loading.css}">
</th:block>

<th:block layout:fragment="script">
    <script th:src="@{/js/openvidu-browser-2.28.0.js}"></script>
    <script th:inline="javascript">
        var myRoomCode = [[${roomInfo.roomName}]];
        let userName = [[${type == 'trainer' ? trainer.trainerName : member.userName}]];
        let userType =  [[${type}]];
    </script>
    <script th:src="@{/js/roomStreaming.js}"></script>

</th:block>


<!-- 해당 페이지를 호출하면 콘텐츠 영역에 해당 페이지가 출력 -->
<th:block layout:fragment="content">


    <div class="lessonroom_container">

        <div class="lessonroom_top">
            <div class="lroom-title" th:text="${roomInfo.lessonTitle}"></div>

            <div class="lroom-_resize_button_group">
                <button onclick="resizeVideo(0, 1, 0.9)">1</button>
                <button onclick="resizeVideo(0.25, 0.75)">2</button>
                <button onclick="resetVideoSize()">3</button>
                <button onclick="resizeVideo(0.75, 0.25)">4</button>
                <button onclick="resizeVideo(0.9, 0.1)">5</button>
            </div>

            <script>
                function resizeVideo(leftRatio, rightRatio) {
                   const videoContainers = document.querySelectorAll('.enterRoom_video_container');
                   const videoLeft = videoContainers[0].querySelector('video');
                   const videoRight = videoContainers[1].querySelector('video');

                  videoLeft.style.flex = leftRatio;
                  videoRight.style.flex = rightRatio;
                }

                function resetVideoSize() {
                  const videoContainers = document.querySelectorAll('.enterRoom_video_container');
                  const videoLeft = videoContainers[0].querySelector('video');
                  const videoRight = videoContainers[1].querySelector('video');

                    videoLeft.style.flex = 1;
                     videoRight.style.flex = 1;
                }

            </script>

            <button type="button" class="lroom-button" id="buttonLeaveSession"
                    th:onclick="leaveSession([[${roomInfo.roomName}]],[[${type}]])">Finish!
            </button>
        </div>



        <div class="mylessonlistloading_wrap" id="mylessonlistloading_wrap">
            <div class="mylessonlist_loading">
                <div class="bounceball"></div>
                <div class="text">NOW LOADING</div>
            </div>
        </div>

        <div class="lessonroom_content" id="lessonroom_content" style="none">
            <div class="loader">
            </div>
            <div id="video-container" class="video-container">

            </div>
        </div>
    </div>


</th:block>


</html>
