<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/body}"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<th:block layout:fragment="add-css">
    <link rel="stylesheet" th:href="@{/css/enterroom.css}">
    <link rel="stylesheet" th:href="@{/css/common/loading.css}">
</th:block>

<th:block layout:fragment="script">
    <script th:src="@{/js/openvidu-browser-2.28.0.js}"></script>
    <script th:inline="javascript">
        var myRoomCode = [[${roomInfo.roomName}]];
        let userName = [[${type == 'trainer' ? trainer.trainerName : member.userName}]];
        let userType =  [[${type}]];
    </script>
    <script th:src="@{/js/roomStreaming.js}"></script>

</th:block>


<!-- 해당 페이지를 호출하면 콘텐츠 영역에 해당 페이지가 출력 -->
<th:block layout:fragment="content">


    <div class="lessonRoom_container">

        <div class="lessonRoom_top">
            <div class="lesson_top_title lessonRoom_top_width">
                [[${roomInfo.lessonTitle}]]
            </div>

            <div class="lessonRoom_top_item_center lessonRoom_top_width">
                <ul class="lessonRoom_top_item_center_ul">
                        <li class="lessonRoom_top_item_center_li">
                            <button class="lessonRoom_top_item_center_btn" id="lessonRoom_button_1">x0.2</button>
                        </li>
                        <li class="lessonRoom_top_item_center_li">
                            <button class="lessonRoom_top_item_center_btn" id="lessonRoom_button_2">x0.35</button>
                        </li>
                        <li class="lessonRoom_top_item_center_li">
                            <button class="lessonRoom_top_item_center_btn" id="lessonRoom_button_3">x1.0</button>
                        </li>
                        <li class="lessonRoom_top_item_center_li">
                            <button class="lessonRoom_top_item_center_btn" id="lessonRoom_button_4">x1.65</button>
                        </li>
                        <li class="lessonRoom_top_item_center_li">
                            <button class="lessonRoom_top_item_center_btn" id="lessonRoom_button_5">x1.8</button>
                        </li>
                </ul>
            </div>

            <div class="lessonRoom_top_item_left lessonRoom_top_width">
                <button type="button" class="lessonRoom_top_exit_btn" id="buttonLeaveSession"
                        th:onclick="leaveSession([[${roomInfo.roomName}]],[[${type}]])">Finish!
                </button>
            </div>
        </div>


        <div class="mylessonlistloading_wrap" id="mylessonlistloading_wrap">
            <div class="mylessonlist_loading">
                <div class="bounceball"></div>
                <div class="text">NOW LOADING</div>
            </div>
        </div>

        <div id="video-container" class="video-container" style="none">

        </div>
    </div>

<!--버튼별 화면 비율 변경-->
    <script>
const button1 = document.getElementById('lessonRoom_button_1');
const button2 = document.getElementById('lessonRoom_button_2');
const button3 = document.getElementById('lessonRoom_button_3');
const button4 = document.getElementById('lessonRoom_button_4');
const button5 = document.getElementById('lessonRoom_button_5');

// 버튼 클릭 이벤트 핸들러
button1.addEventListener('click', () => {
  resetVideoContainer();
  toggleVideoSize('video-20-80');
});

button2.addEventListener('click', () => {
  resetVideoContainer();
  toggleVideoSize('video-35-65');
});

button3.addEventListener('click', () => {
  resetVideoContainer();
});

button4.addEventListener('click', () => {
  resetVideoContainer();
  toggleVideoSize('video-65-35');
});

button5.addEventListener('click', () => {
  resetVideoContainer();
  toggleVideoSize('video-80-20');
});

// 비디오 컨테이너 클래스 초기화 함수
function resetVideoContainer() {
  const videoContainers = document.querySelectorAll('.enterRoom_video_container');
  videoContainers.forEach(container => {
    container.classList.remove('video-20-80', 'video-35-65', 'video-65-35', 'video-80-20');
  });
}

// 비디오 컨테이너 클래스 토글 함수
function toggleVideoSize(className) {
  const videoContainers = document.querySelectorAll('.enterRoom_video_container');
  videoContainers.forEach(container => {
    container.classList.add(className);
  });
}
    </script>


</th:block>


</html>
