<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/body}"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="js/openvidu-browser-2.28.0.js"></script>
    <script src="js/app.js"></script>
</head>

<!-- 해당 페이지를 호출하면 콘텐츠 영역에 해당 페이지가 출력 -->
<th:block layout:fragment="content">

    <div id="main-container" class="container">
        <div id="join">
<!--            <div id="img-div"><img src="resources/images/openvidu_grey_bg_transp_cropped.png" /></div>-->
            <div id="join-dialog" class="jumbotron vertical-center">
                <h1>Join a video session</h1>
                <form class="form-group" onsubmit="joinSession(); return false">
                    <p>
                        <label>방이름</label>
                        <input class="form-control" type="text" id="userName" required>
                    </p>
                    <p>
                        <label>key</label>
                        <input class="form-control" type="text" id="sessionId" required>
                    </p>
                    <p class="text-center">
                        <input class="btn btn-lg btn-success" type="submit" name="commit" value="Join!">
                    </p>
                </form>
            </div>
        </div>

        <div id="session" style="display: none;">
            <div id="session-header">
                <h1 id="session-title"></h1>
                <input class="btn btn-large btn-danger" type="button" id="buttonLeaveSession" onmouseup="leaveSession()" value="Leave session">
            </div>
            <div id="main-video" class="col-md-6"><p></p><video autoplay playsinline="true"></video></div>
            <div id="video-container" class="col-md-6"></div>
        </div>
    </div>

</th:block>


</html>
